<div class="mx-60 my-16 border border-gray-200 shadow-lg rounded-lg">
    <h2 class="flex justify-center text-gray-300 font-semibold pt-4">PASO 2</h2>
    <div class="grid grid-cols-1 md:grid-cols-7">
        <!-- Numeros -->
        <section class="col-span-1 md:col-span-1 lg:flex lg:items-center lg:content-center lg:justify-center ">
            <div class="flex  flex-row md:flex-col space-y-24 lg:items-center lg:content-center ">
                <button class=" focus:outline-none  rounded-full  bg-gray-300 text-gray-600 hover:bg-blue-500 hover:text-white focus:bg-blue-500 focus:text-white h-6 w-6 flex justify-center items-start">1</button>
                <button class=" focus:outline-none  rounded-full  bg-gray-300 text-gray-600 hover:bg-blue-500 hover:text-white focus:bg-blue-500 focus:text-white h-6 w-6 flex justify-center items-start">2</button>
            </div>
        </section>
        <!-- Info -->
        <section class="col-span-1 md:col-span-6 mx-5 pb-6">
            <div class="text-gray-500  font-bold">Orden de Pago</div>
            <div class="space-y-4">
                <!-- Vouchers -->
                <section class="border border-gray-200 rounded-md p-2 shadow-md ">
                    <div class="flex items-center text-blue-500 font-bold">
                        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.51414 0H12.5707C13.2375 0 13.877 0.223883 14.3485 0.622398C14.82 1.02091 15.0849 1.56141 15.0849 2.125V14.875C15.0849 15.4386 14.82 15.9791 14.3485 16.3776C13.877 16.7761 13.2375 17 12.5707 17H2.51414C1.84735 17 1.20787 16.7761 0.736376 16.3776C0.264882 15.9791 0 15.4386 0 14.875V2.125C0 1.56141 0.264882 1.02091 0.736376 0.622398C1.20787 0.223883 1.84735 0 2.51414 0ZM2.51414 1.0625C2.18075 1.0625 1.86101 1.17444 1.62526 1.3737C1.38951 1.57296 1.25707 1.84321 1.25707 2.125V14.875C1.25707 15.1568 1.38951 15.427 1.62526 15.6263C1.86101 15.8256 2.18075 15.9375 2.51414 15.9375H12.5707C12.9041 15.9375 13.2239 15.8256 13.4596 15.6263C13.6954 15.427 13.8278 15.1568 13.8278 14.875V2.125C13.8278 1.84321 13.6954 1.57296 13.4596 1.3737C13.2239 1.17444 12.9041 1.0625 12.5707 1.0625H2.51414Z" fill="#508EC8"/>
                            <path d="M11.3139 4.78125C11.3139 4.90559 11.2624 5.026 11.1682 5.12153C11.074 5.21705 10.9432 5.28162 10.7985 5.304L10.6853 5.3125H4.39996C4.24289 5.31274 4.09141 5.26328 3.97534 5.17383C3.85927 5.08439 3.78703 4.96146 3.77284 4.82925C3.75864 4.69704 3.80353 4.56513 3.89866 4.45949C3.99379 4.35386 4.13227 4.28215 4.28682 4.2585L4.39996 4.25H10.6853C10.852 4.25 11.0119 4.30597 11.1298 4.4056C11.2476 4.50523 11.3139 4.64035 11.3139 4.78125ZM11.3139 8.5C11.3139 8.62434 11.2624 8.74475 11.1682 8.84028C11.074 8.9358 10.9432 9.00037 10.7985 9.02275L10.6853 9.03125H4.39996C4.24289 9.03149 4.09141 8.98203 3.97534 8.89258C3.85927 8.80314 3.78703 8.68021 3.77284 8.548C3.75864 8.41579 3.80353 8.28388 3.89866 8.17824C3.99379 8.07261 4.13227 8.0009 4.28682 7.97725L4.39996 7.96875H10.6853C10.852 7.96875 11.0119 8.02472 11.1298 8.12435C11.2476 8.22398 11.3139 8.3591 11.3139 8.5ZM11.3139 12.2188C11.3139 12.3431 11.2624 12.4635 11.1682 12.559C11.074 12.6545 10.9432 12.7191 10.7985 12.7415L10.6853 12.75H4.39996C4.24289 12.7502 4.09141 12.7008 3.97534 12.6113C3.85927 12.5219 3.78703 12.399 3.77284 12.2668C3.75864 12.1345 3.80353 12.0026 3.89866 11.897C3.99379 11.7914 4.13227 11.7197 4.28682 11.696L4.39996 11.6875H10.6853C10.852 11.6875 11.0119 11.7435 11.1298 11.8431C11.2476 11.9427 11.3139 12.0779 11.3139 12.2188Z" fill="#508EC8"/>
                        </svg>
                        <span class="pl-2">Vouchers</span>
                    </div>
                    <div class="flex gap-5  p-2 ">
                        <div class="bg-gray-200 rounded-md shadow flex items-center ">
                            <div><img class="p-2" src="assets/img/img3.png" alt=""></div>
                        </div>
                        <div class="bg-gray-200 rounded-md shadow flex items-center ">
                            <div><img class="p-2" src="assets/img/img4.png" alt=""></div>
                        </div>
                        <div class="bg-gray-200 rounded-md shadow flex items-center ">
                            <div><img class="p-2" src="assets/img/img5.png" alt=""></div>
                        </div>
                    </div>
                </section>
                <!-- Comparación -->
                <section class="border border-gray-200 rounded-md p-2 shadow-md ">
                    <div class="flex items-center text-blue-500 font-bold">
                        <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 22H8V0H10V22ZM6 18H2V4H6V2H2C0.89 2 0 2.89 0 4V18C0 18.5304 0.210714 19.0391 0.585786 19.4142C0.960859 19.7893 1.46957 20 2 20H6V18ZM16 6V8H18V6H16ZM16 4H18C18 3.46957 17.7893 2.96086 17.4142 2.58579C17.0391 2.21071 16.5304 2 16 2V4ZM18 14H16V16H18V14ZM16 10V12H18V10H16ZM14 2H12V4H14V2ZM16 20C17.11 20 18 19.11 18 18H16V20ZM14 18H12V20H14V18Z" fill="#508EC8"/>
                        </svg>
                        <span class="pl-2">Comparación</span>
                    </div>
                    <div class="grid grid-cols-3 mx-10 gap-9 pt-5">
                        <div class="col-span-1">
                            <div>Total Vaucher</div>
                            <div><input class="w-full border border-gray-300 rounded-md" type="text" placeholder="S/. 568"></div>
                        </div>
                        <div class="col-span-1">
                            <div>Total Vaucher</div>
                            <div><input class="w-full border border-gray-300 rounded-md" type="text" placeholder="S/. "></div>
                        </div>
                        <div class="col-span-1 ">
                            <div>Restante</div>
                            <div><input class="w-full border border-gray-300 rounded-md" type="text" placeholder="S/. 0.00"></div>
                        </div>
                    </div>
                </section>
                <button class="px-10 py-2 bg-blue-500 hover:bg-blue-600 text-white rounded-md focus:outline-none">Finalizar</button>
            </div>
        </section>
    </div>
</div>