<nav class="flex flex-wrap bg-black text-white gap-3 p-3 items-center">
    <div>
        <img [routerLink]="['home']" class="w-16 h-16 object-cover rounded-full focus:outline-none cursor-pointer " src="assets/img/logo.png" alt="">
    </div>
    <div class="gap-2 flex items-start">
        <button [routerLink]="['manual']" class="bg-gray-50 text-black font-semibold hover:bg-gray-400 hover:text-white rounded-md focus:outline-none px-3 py-1">Manual</button>
        <button [routerLink]="['listado-info']" class="bg-gray-50 text-black font-semibold hover:bg-gray-400 hover:text-white rounded-md focus:outline-none px-3 py-1">Listado-Info</button>
        <button [routerLink]="['pago-paso2']" class="bg-gray-50 text-black font-semibold hover:bg-gray-400 hover:text-white rounded-md focus:outline-none px-3 py-1">Pago-Paso2</button>
    </div>
</nav>