<main class="grid grid-cols-2 md:grid-cols-6">
    <!-- Factesol - Factuted -->
    <section class="  col-span-2 md:col-span-1 grid grid-cols-2 md:grid-cols-1 rounded-md border shadow-md border-gray-200 lg:m-2">
        <div class="flex col-span-2 justify-center text-xl font-medium py-5 md:hidden">Sistemas</div>
        <!-- FacTEDSol -->
        <div class="flex-col col-span-1 md:mx-0   md:border-b-2 border-gray-200 pb-2  flex justify-center">
            <!-- Titulo -->
            <div class="md:flex justify-center font-medium py-4 hidden">Sistemas</div>
            <!-- Factedsol -->
            <div class="justify-center mx-10 md:mx-0 ">
                <div class="py-4 rounded-md  flex justify-center mt-2 flex-col ">
                    <div class="border rounded-md lg:mx-5 py-5 mx-1  shadow-md border-gray-200">
                        <div class="flex justify-center">
                            <div class="flex  justify-center text-2xl w-12  p-2 font-medium rounded-md  bg-red-500 text-white">FS</div>
                        </div>
                        <div class="flex justify-center pt-5 text-gray-600 font-normal text-sm">FacTEDSOL</div>
                    </div>
                </div>
            </div>
            <!-- boton elegir -->
            <div (click)="onElegirFacTEDSOL()" *ngIf="elegirDatosfacTEDSOL === false" [class.showingData]="elegirDatosfacTEDSOL === true" class="flex justify-center pb-4 cursor-pointer">
                <button class="cursor-pointer focus:outline-none flex w-28 mt-3 content-center justify-center font-normal bg-black hover:bg-gray-800 px-4 py-2 text-white rounded-3xl">Elegir</button>
            </div>
            <div *ngIf="elegirDatosfacTEDSOL === true" class="flex justify-center pb-4 cursor-pointer">
                <button class="cursor-pointer focus:outline-none flex w-28 mt-3 content-center justify-center border bg-white text-black font-medium border-black  px-4 py-2  rounded-3xl">Usando...</button>
            </div>
        </div>
        <!-- FactuTED -->
        <div class="flex-col col-span-1 md:mx-0    border-gray-200 pb-2  flex justify-center">
            <!-- FactuTED -->
            <div class="justify-center mx-10 md:mx-0 ">
                <div class="py-4 rounded-md  flex justify-center mt-2 flex-col ">
                    <div class="border rounded-md lg:mx-5 py-5 mx-1  shadow-md border-gray-200">
                        <div class="flex justify-center">
                            <div class="flex  justify-center text-2xl w-12  p-2 font-medium rounded-md  bg-blue-500 text-white">FT</div>
                        </div>
                        <div class="flex justify-center pt-5 text-gray-600 font-normal text-sm">FactuTED</div>
                    </div>
                </div>
            </div>
            <!-- boton elegir -->
            <div (click)="onElegirFactuTED()" *ngIf="elegirDatosfactuTED === false" [class.showingData]="elegirDatosfactuTED === true" class="flex justify-center pb-4 cursor-pointer">
                <button class="cursor-pointer focus:outline-none flex w-28 mt-3 content-center justify-center font-normal bg-black hover:bg-gray-800 px-4 py-2 text-white rounded-3xl">Elegir</button>
            </div>
            <div *ngIf="elegirDatosfactuTED === true" class="flex justify-center pb-4 cursor-pointer">
                <button class="cursor-pointer focus:outline-none flex w-28 mt-3 content-center justify-center border bg-white text-black font-medium  border-black  px-4 py-2  rounded-3xl">Usando...</button>
            </div>
        </div>

    </section>
    <!-- Imagen y Contenido -->
    <section class=" col-span-2 md:col-span-5 grid grid-cols-1 md:grid-cols-5 border  rounded-md shadow-md border-gray-200 lg:m-2  ">
        <!-- Imgen Central -->
        <div class="col-span-2  md:col-span-3 bg-gray-300 rounded-l-md  flex items-center justify-center ">
            <div class="col-span-2  md:col-span-3 bg-gray-300 rounded-l-md  flex items-center justify-center ">
                <div class="rounded-md px-16 py-32 my-6 sm:py-40 sm:px-10 md:py-48 md:px-12 lg:py-56 lg:px-24 bg-white  ">
                    <svg class=" object-cover w-32 " viewBox="0 0 167 131" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.2" d="M58.581 128.463C74.6695 128.463 87.7118 125.986 87.7118 122.931C87.7118 119.875 74.6695 117.398 58.581 117.398C42.4925 117.398 29.4502 119.875 29.4502 122.931C29.4502 125.986 42.4925 128.463 58.581 128.463Z" fill="#B6B6B6"/>
                    <path d="M88.5205 59.9901L83.4536 56.5656L86.0094 52.7513L72.6267 51.6817L67.8179 55.4097L61.7982 52.0266L56.7777 52.6319L56.7181 51.3052C56.656 49.9221 56.5173 48.5435 56.3029 47.1759C56.3244 46.7613 56.3393 46.2853 56.3376 45.7679C56.3376 43.5871 56.0432 40.6966 54.7496 38.7696L55.0473 36.0863L52.6322 33.2256C53.02 32.4511 53.4623 31.7051 53.9556 30.9934C54.0383 30.874 54.121 30.7579 54.2103 30.6452C57.3451 30.418 59.8181 27.8342 59.8181 24.675C59.8181 24.5291 59.8181 24.3831 59.8016 24.2389C59.8016 24.1808 59.79 24.1211 59.7834 24.0631C60.0894 24.2289 60.3987 24.3948 60.7081 24.5606C60.766 24.6435 60.8321 24.7264 60.9049 24.8243L60.9198 24.8425L61.0125 24.9569L61.0422 24.9918C61.0753 25.0316 61.1101 25.0697 61.1448 25.1095L61.168 25.1361C61.2556 25.2339 61.3483 25.3334 61.4475 25.4312C61.4593 25.4409 61.4704 25.4514 61.4806 25.4628L61.6047 25.5788L61.6394 25.6103C61.7453 25.7049 61.8578 25.7961 61.9703 25.8823L62.0066 25.9089L62.1489 26.0067L62.1952 26.0365C62.2498 26.0697 62.3061 26.1045 62.3606 26.1361L62.3805 26.1477C62.445 26.1825 62.5112 26.2157 62.5773 26.2472L62.6104 26.2604C62.6667 26.2848 62.7218 26.308 62.7759 26.3301L62.8271 26.3483C62.885 26.3682 62.9413 26.3865 63.0008 26.4031L63.0372 26.413C63.11 26.4312 63.1828 26.4462 63.2572 26.4578H63.2655C63.3356 26.4691 63.4063 26.4763 63.4772 26.4793H63.5252C63.5886 26.4827 63.6521 26.4827 63.7155 26.4793H63.7568C63.8362 26.4748 63.9152 26.4653 63.9934 26.4511C64.3635 26.4024 64.7189 26.2746 65.0355 26.0764C65.1161 26.0223 65.1876 25.9557 65.2473 25.879C65.5781 25.4445 65.2142 24.9686 65.2142 24.9686C65.0851 24.6601 64.2481 24.4429 64.2481 24.4429C64.2481 24.4429 61.6014 23.3351 61.6014 22.4528C61.6014 21.5705 60.9397 16.9934 54.1094 15.947C54.1094 15.947 49.6662 15.6966 48.4172 18.0813L48.3908 18.3599C48.0235 18.5904 47.7192 19.0531 47.3569 19.1891C47.2004 19.2228 47.0494 19.2787 46.9086 19.355V19.3234C46.8668 19.3601 46.8325 19.4046 46.8077 19.4545C46.7299 19.6097 46.6832 19.7787 46.6704 19.952C46.6331 20.1636 46.5598 20.3672 46.4537 20.554C46.4241 20.607 46.3909 20.658 46.3544 20.7065L46.3263 20.7513C46.5184 20.7663 46.7112 20.735 46.8887 20.6601C46.8608 20.8871 46.8052 21.1099 46.7233 21.3234C46.8285 21.3269 46.9324 21.2999 47.0227 21.2458C47.113 21.1917 47.186 21.1128 47.2328 21.0183V21.005L47.2543 20.9752C47.2959 20.8984 47.3303 20.8179 47.3569 20.7347L47.3387 20.7546C47.3718 20.6468 47.4015 20.5374 47.4379 20.4312C47.4546 20.3715 47.4821 20.3152 47.519 20.2654C47.5631 20.2208 47.6171 20.1872 47.6766 20.1673C47.7361 20.1474 47.7994 20.1418 47.8614 20.151L47.7936 21.5888H47.8234C47.7835 21.6934 47.7348 21.7944 47.6778 21.8906C47.4429 22.272 47.0161 22.5324 46.859 22.9503C46.7912 23.1519 46.7653 23.3652 46.7829 23.5772C46.7829 23.7016 46.7978 23.8276 46.8077 23.952V23.942C46.8308 24.2737 46.8375 24.5888 46.6588 24.8558C46.5364 25.0382 46.3395 25.1759 46.2717 25.3831C46.253 25.4409 46.2445 25.5016 46.2469 25.5623C46.2602 25.744 46.298 25.9231 46.3594 26.0946C46.3601 26.0913 46.3601 26.0879 46.3594 26.0846C46.4006 26.2108 46.4103 26.3452 46.3875 26.476C46.3131 26.8077 45.9111 27.0846 45.9309 27.4014C45.9298 27.443 45.936 27.4846 45.9491 27.5241C46.0265 27.6788 46.1604 27.7976 46.323 27.8558C46.578 28.0012 46.871 28.0659 47.1633 28.0415C47.2729 28.0217 47.3789 27.9853 47.4776 27.9337C47.3618 28.2007 47.2427 28.4644 47.122 28.7148C47.1038 28.7546 47.0839 28.7944 47.0641 28.8342C47.0641 28.8342 46.0418 28.1493 45.4611 29.5457C45.2916 29.8358 45.1704 30.1518 45.1022 30.481C45.0731 30.6127 45.0321 30.7415 44.9798 30.8657C44.722 31.3032 44.3362 31.6506 43.8747 31.8608C42.6903 32.4047 37.9063 38.3865 37.822 39.9354C37.7806 40.54 37.6786 41.1389 37.5176 41.7231C37.141 43.0988 37.0442 44.5364 37.2331 45.9503C37.2922 46.4073 37.3901 46.8583 37.5259 47.2986C38.0337 48.8458 38.3728 51.7331 38.3728 51.7331L38.922 56.7447C38.9016 57.4364 38.9315 58.1286 39.0113 58.816C38.4506 59.4578 36.1992 62.1327 37.0594 62.8608C37.7211 63.4346 38.879 63.34 39.5291 63.2223C38.9816 64.5805 38.1197 66.942 38.0056 68.5639C37.8402 70.9636 38.2885 74.1427 38.9981 75.3633C39.7078 76.5838 42.0733 79.7148 42.0733 79.7148C42.0733 79.7148 41.9625 84.01 42.8078 85.5705C43.6531 87.1311 43.9939 90.3682 43.9939 90.3682C43.9939 90.3682 44.7829 93.1012 44.3876 94.1062C43.9922 95.1112 45.1204 95.947 43.936 96.6153C42.7515 97.2836 41.2363 112.347 41.2363 112.347C41.2363 112.347 40.6259 122.219 41.2363 122.721C41.2689 122.745 41.3038 122.766 41.3405 122.783V126.1C41.3405 126.1 40.917 126.796 42.639 126.937C43.8185 127.032 47.1617 127.246 49.1451 127.37L50.6819 127.466C50.6819 127.466 54.3211 128.192 55.929 127.466C57.5369 126.74 60.3872 126.756 59.9637 124.838C59.9075 124.576 59.8323 124.32 59.7387 124.07C59.2739 122.879 58.4848 122.743 57.0308 122.411C56.9464 122.393 56.8653 122.377 56.7909 122.363C55.2591 122.096 54.7562 122.811 53.8977 121.881C53.1516 121.076 50.7762 120.176 49.9672 119.891C49.9871 119.831 50.0119 119.773 50.0318 119.712C49.8027 119.673 49.5896 119.568 49.418 119.411L51.6099 119.551L52.9151 119.632C52.9151 119.632 56.0084 120.25 57.3814 119.632C58.7544 119.013 61.1696 119.03 60.809 117.4C60.7615 117.178 60.6979 116.959 60.6188 116.746C60.2234 115.735 59.5518 115.624 58.3161 115.343C58.245 115.328 58.1788 115.313 58.1126 115.302C56.8107 115.075 56.384 115.682 55.6544 114.892C55.0292 114.219 53.0557 113.464 52.346 113.207C52.346 112.839 51.8497 112.315 51.5371 111.789C51.1699 111.176 51.8481 109.028 51.8481 109.028L52.2352 100.118C52.3826 100.052 52.5385 100.007 52.6984 99.9851C52.6984 99.9851 54.4485 98.3102 54.0532 96.5258C53.9726 95.9861 53.9306 95.4413 53.9274 94.8956C54.5031 94.3599 55.2955 93.5689 55.5204 93.0813C55.8877 92.287 55.5204 88.4379 55.5204 88.4379V73.7198L58.4484 74.0167L61.1051 74.2903L61.914 74.3732L64.5707 74.6419L70.6764 75.2604L76.1783 74.2157L78.5588 73.7646L83.4536 72.8359V60.8293L88.5205 59.9901ZM48.222 20.204L47.8813 20.1676C47.9938 20.1725 48.1129 20.1941 48.222 20.204Z" fill="url(#paint0_linear)"/>
                    <path d="M76.6451 67.7856C74.9908 70.1588 69.0439 68.9017 69.0439 68.9017L64.4353 64.5783L63.8149 63.9929L64.8554 61.7773C64.8554 61.7773 65.1863 61.8686 65.7537 62.0311C68.7329 62.8984 78.0412 65.7906 76.6451 67.7856Z" fill="#C2C2C2"/>
                    <path opacity="0.1" d="M65.7504 62.0311C65.5469 62.7409 64.9894 63.8039 64.4353 64.5783L63.8149 63.9929L64.8554 61.7773C64.8554 61.7773 65.1896 61.8686 65.7504 62.0311Z" fill="black"/>
                    <path d="M49.944 37.0462C49.944 37.0462 45.696 38.9351 45.9044 43.5736C46.0544 46.5619 46.3792 49.5389 46.8771 52.489C46.8771 52.489 46.0086 59.4691 49.6247 61.2685C53.2409 63.0678 56.5873 64.5471 56.5873 64.5471C56.5873 64.5471 62.2448 65.1574 62.9478 65.4094C63.6509 65.6615 65.8477 61.8074 65.4424 61.2071C65.0371 60.6068 59.8445 59.3481 59.1828 58.3464C58.5211 57.3447 56.991 56.7262 56.991 56.7262C56.991 56.7262 55.4112 55.7676 55.3037 54.902C55.1961 54.0363 55.613 53.3912 55.7189 53.0114C55.8247 52.6316 56.0927 48.965 56.0927 48.965C56.0927 48.965 57.876 35.9136 49.944 37.0462Z" fill="#DCE6F2"/>
                    <path opacity="0.1" d="M52.748 52.2988C52.748 52.2988 46.9202 53.2773 47.4843 55.322C47.4843 55.322 49.6 53.1147 52.748 52.2988Z" fill="black"/>
                    <path opacity="0.1" d="M52.7929 53.126C52.7929 53.126 49.5886 55.7479 50.2156 55.8822C50.8425 56.0165 52.7929 53.126 52.7929 53.126Z" fill="black"/>
                    <path opacity="0.1" d="M54.3329 54.04C54.3329 54.04 53.4744 55.8029 54.0021 55.6835C54.5298 55.5641 54.3329 54.04 54.3329 54.04Z" fill="black"/>
                    <path opacity="0.1" d="M65.9655 62.2185L65.6115 62.1174C65.7124 61.7857 65.7405 61.517 65.6578 61.3927C65.2525 60.7923 60.0632 59.5353 59.4032 58.532C58.7431 57.5287 57.2113 56.9117 57.2113 56.9117C57.2113 56.9117 55.6316 55.9532 55.524 55.0875C55.4165 54.2218 55.8334 53.5767 55.9392 53.197C56.0451 52.8172 56.3131 49.1489 56.3131 49.1489C56.3131 49.1489 58.0914 36.0991 50.1594 37.2318C50.1594 37.2318 45.9114 39.1223 46.1182 43.7608C46.2682 46.7492 46.5935 49.7262 47.0925 52.6762C47.0925 52.6762 46.224 59.6563 49.8401 61.4557C53.4563 63.255 56.8027 64.7343 56.8027 64.7343C56.8027 64.7343 62.4585 65.3429 63.1632 65.5966C63.4295 65.6928 63.9109 65.197 64.3824 64.5154L64.6504 64.7658L69.259 69.0875C69.259 69.0875 75.2059 70.3462 76.8601 67.9731C78.258 65.9764 68.9513 63.0842 65.9655 62.2185Z" fill="black"/>
                    <path d="M47.4993 19.6364C47.3373 19.6681 47.1822 19.7282 47.041 19.8138C46.8756 19.9515 46.8756 20.187 46.8343 20.3926C46.7857 20.6787 46.6725 20.9498 46.5034 21.1853C46.6917 21.1992 46.8805 21.1679 47.0543 21.0941C47.026 21.3211 46.9704 21.5438 46.8889 21.7575C46.9919 21.7601 47.0936 21.7329 47.1816 21.679C47.2696 21.6252 47.3403 21.5471 47.3851 21.454C47.4726 21.2671 47.5419 21.0722 47.5919 20.8719C47.6074 20.812 47.6344 20.7557 47.6713 20.7061C47.8235 20.5253 48.1064 20.6065 48.3413 20.6298C48.5368 20.6463 48.7331 20.6101 48.9099 20.525C49.0868 20.4398 49.2377 20.3088 49.347 20.1455C49.5968 19.7658 49.6117 18.7939 49.0162 18.6911C48.3942 18.5883 48.0071 19.4473 47.4993 19.6364Z" fill="#B7B7B7"/>
                    <g opacity="0.1">
                    <path opacity="0.1" d="M47.0245 20.0186C47.0394 19.9373 47.0494 19.8527 47.0676 19.7715C46.9104 19.9091 46.9021 20.143 46.8608 20.3503C46.8399 20.4699 46.8073 20.5871 46.7632 20.7002C46.8934 20.4921 46.9822 20.2606 47.0245 20.0186Z" fill="black"/>
                    <path opacity="0.1" d="M47.0775 21.388C47.1599 21.1746 47.2155 20.9517 47.2429 20.7246C47.0773 20.7945 46.898 20.8257 46.7186 20.8158C46.6663 20.9325 46.6026 21.0436 46.5283 21.1475C46.7159 21.162 46.9042 21.1313 47.0775 21.0579C47.05 21.2851 46.9945 21.5079 46.9121 21.7213C47.0151 21.7237 47.1167 21.6964 47.2047 21.6426C47.2927 21.5888 47.3634 21.5108 47.4084 21.4178C47.4496 21.3424 47.4828 21.263 47.5076 21.1807C47.4591 21.2487 47.3942 21.3033 47.3191 21.3395C47.2439 21.3758 47.1608 21.3924 47.0775 21.388Z" fill="black"/>
                    <path opacity="0.1" d="M48.53 20.2608C48.2951 20.2376 48.0105 20.1563 47.8584 20.3371C47.8221 20.3871 47.7952 20.4433 47.779 20.5029C47.7641 20.546 47.7508 20.5908 47.7393 20.6356C47.8964 20.5112 48.1512 20.5775 48.3646 20.5991C48.56 20.6151 48.7561 20.5787 48.9329 20.4936C49.1096 20.4085 49.2606 20.2778 49.3703 20.1149C49.4204 20.0343 49.4578 19.9465 49.4811 19.8545C49.3679 19.9951 49.2219 20.1056 49.0561 20.1764C48.8902 20.2473 48.7096 20.2762 48.53 20.2608Z" fill="black"/>
                    </g>
                    <path d="M52.4783 33.333L55.001 36.3745L54.6718 39.4441L51.623 34.6597L52.4783 33.333Z" fill="#DCE6F2"/>
                    <path opacity="0.1" d="M54.9993 36.3745L54.69 39.2617L54.6701 39.4441L51.9191 35.1257L51.623 34.6597L51.7091 34.5254L52.4766 33.333L52.647 33.5386L54.9993 36.3745Z" fill="black"/>
                    <path d="M56.3096 29.2154C55.4561 29.4609 54.6405 30.3033 53.9309 31.3265C53.4512 32.0325 53.0222 32.7718 52.6472 33.5388C52.414 34.0065 52.2088 34.4559 52.0385 34.8473L51.9194 35.1259C51.6315 35.8075 51.4711 36.2635 51.4711 36.2635C51.4711 36.2635 44.9369 31.3381 45.9708 31.0065C46.3182 30.8953 46.7747 30.1491 47.2263 29.2088L47.2826 29.0894C47.5688 28.4857 47.85 27.8124 48.0998 27.1789C48.6109 25.8771 48.9897 24.7461 48.9897 24.7461C48.9897 24.7461 58.915 28.4691 56.3096 29.2154Z" fill="#C2C2C2"/>
                    <path d="M60.2188 24.4697C60.2188 24.4697 61.7274 27.206 63.7538 26.8329C65.7802 26.4598 64.9465 25.3636 64.9465 25.3636L60.2188 24.4697Z" fill="#656565"/>
                    <path d="M57.2954 119.187C55.9588 119.799 52.9365 119.187 52.9365 119.187L51.6628 119.108C50.0086 119.001 47.2394 118.822 46.2601 118.743C44.8309 118.625 45.1816 118.038 45.1816 118.038V114.491L52.116 112.729C52.116 112.729 54.8571 113.67 55.6081 114.491C56.3211 115.273 56.7379 114.671 58.01 114.897C58.0729 114.909 58.1391 114.922 58.2085 114.938C59.4161 115.215 60.0712 115.325 60.4583 116.328C60.5361 116.539 60.5985 116.755 60.6452 116.975C61.0025 118.59 58.6304 118.579 57.2954 119.187Z" fill="#ACACAC"/>
                    <path opacity="0.1" d="M60.4583 116.329C60.2098 116.484 59.9486 116.619 59.6775 116.73C58.7677 117.146 57.9025 117.654 56.9828 118.047C56.063 118.44 55.0721 118.72 54.0763 118.645C53.5552 118.607 53.0226 118.48 52.5246 118.629C52.2167 118.748 51.9267 118.909 51.6628 119.108C50.0086 119.002 47.2394 118.823 46.2601 118.743C44.8309 118.625 45.1816 118.038 45.1816 118.038V117.624C45.2328 117.624 45.2907 117.609 45.3569 117.604C45.6992 117.598 46.0401 117.649 46.366 117.755C47.0839 117.951 47.7985 118.143 48.5165 118.335C48.5755 118.112 48.6793 117.903 48.8215 117.721C48.9637 117.539 49.1413 117.388 49.3436 117.277C49.7533 117.059 50.2133 116.953 50.6769 116.97C51.7902 116.985 52.8439 117.514 53.9555 117.567C54.2663 117.596 54.5792 117.544 54.8637 117.415C55.0159 117.339 55.1499 117.227 55.2988 117.143C55.537 117.027 55.7888 116.942 56.0481 116.889C56.7771 116.707 57.4928 116.476 58.1903 116.196C58.3888 116.118 58.6204 115.977 58.594 115.765C58.5592 115.483 58.1175 115.45 58.0018 115.191C57.9813 115.144 57.9719 115.094 57.9742 115.043C57.9765 114.992 57.9904 114.942 58.015 114.897C58.0778 114.909 58.144 114.922 58.2135 114.939C59.4161 115.216 60.0712 115.325 60.4583 116.329Z" fill="black"/>
                    <path d="M55.8829 126.949C54.3114 127.669 50.7549 126.949 50.7549 126.949L49.2578 126.861C47.319 126.737 44.0536 126.529 42.9006 126.432C41.2183 126.292 41.6318 125.602 41.6318 125.602V121.422L49.7921 119.349C49.7921 119.349 53.0178 120.455 53.9012 121.422C54.7399 122.342 55.2246 121.634 56.7282 121.899C56.8027 121.912 56.8804 121.929 56.9615 121.947C58.3825 122.279 59.1533 122.403 59.6082 123.584C59.7003 123.832 59.7739 124.086 59.8282 124.345C60.2385 126.246 57.4544 126.231 55.8829 126.949Z" fill="#ACACAC"/>
                    <path opacity="0.1" d="M59.6049 123.584C59.3126 123.767 59.0055 123.925 58.6868 124.056C57.6166 124.546 56.5976 125.143 55.5157 125.605C54.4338 126.068 53.2676 126.396 52.0948 126.31C51.4827 126.265 50.8558 126.111 50.2751 126.29C49.9113 126.432 49.5689 126.624 49.2578 126.861C47.319 126.736 44.0536 126.529 42.9006 126.431C41.2183 126.292 41.6318 125.602 41.6318 125.602V125.115C41.7003 125.103 41.7693 125.096 41.8386 125.091C42.2416 125.084 42.643 125.144 43.0263 125.269L45.5556 125.952C45.6261 125.688 45.7494 125.442 45.9181 125.228C46.0868 125.014 46.2972 124.836 46.5366 124.707C47.0187 124.449 47.5605 124.324 48.1065 124.345C49.4166 124.363 50.6556 124.985 51.9641 125.048C52.3285 125.082 52.6953 125.02 53.0294 124.871C53.2097 124.78 53.3603 124.649 53.5422 124.551C53.822 124.413 54.1184 124.313 54.4239 124.252C55.277 124.036 56.1148 123.764 56.9317 123.436C57.165 123.343 57.4379 123.178 57.4065 122.929C57.3651 122.597 56.8457 122.557 56.7084 122.252C56.6853 122.197 56.6747 122.138 56.6776 122.078C56.6804 122.018 56.6966 121.96 56.7249 121.907C56.7994 121.92 56.8771 121.937 56.9582 121.955C58.3792 122.274 59.15 122.403 59.6049 123.584Z" fill="black"/>
                    <path d="M52.3261 98.2607L51.8845 108.68C51.8845 108.68 51.2228 110.808 51.5817 111.417C51.9407 112.025 52.5462 112.632 52.3261 112.992C52.1061 113.352 49.4594 117.242 48.6042 115.75C47.7489 114.257 46.9053 107.79 46.9053 107.79L47.6943 99.8014L52.3261 98.2607Z" fill="#656565"/>
                    <path d="M54.2421 72.2998L55.4695 73.9449V88.2534C55.4695 88.2534 55.8285 92.0677 55.4695 92.8554C55.1106 93.6431 53.2909 95.2186 53.2909 95.2186L51.7607 87.3413L52.0916 79.0079L54.2421 72.2998Z" fill="#656565"/>
                    <path opacity="0.1" d="M52.3261 98.2607L51.8845 108.68C51.8845 108.68 51.2228 110.808 51.5817 111.417C51.9407 112.025 52.5462 112.632 52.3261 112.992C52.1061 113.352 49.4594 117.242 48.6042 115.75C47.7489 114.257 46.9053 107.79 46.9053 107.79L47.6943 99.8014L52.3261 98.2607Z" fill="black"/>
                    <path opacity="0.1" d="M54.2421 72.2998L55.4695 73.9449V88.2534C55.4695 88.2534 55.8285 92.0677 55.4695 92.8554C55.1106 93.6431 53.2909 95.2186 53.2909 95.2186L51.7607 87.3413L52.0916 79.0079L54.2421 72.2998Z" fill="black"/>
                    <path d="M55.4692 66.1969V73.9365L54.0913 79.9614C54.0913 79.9614 53.6496 94.5004 54.035 96.2682C54.4205 98.036 52.7116 99.6961 52.7116 99.6961C52.7116 99.6961 51.7191 99.8072 51.7191 100.58C51.7191 101.353 50.0649 103.565 50.0649 103.565L50.1195 107.877C50.1195 107.877 50.8374 115.948 49.7341 117.495C48.6307 119.043 50.1195 119.265 50.1195 119.265C48.7415 123.797 42.1246 122.747 41.5275 122.25C40.9303 121.752 41.5275 111.968 41.5275 111.968C41.5275 111.968 43.0063 97.0427 44.1643 96.3793C45.3222 95.716 44.2205 94.8868 44.606 93.8918C44.9914 92.8967 44.2205 90.1886 44.2205 90.1886C44.2205 90.1886 43.8897 86.9813 43.0626 85.434C42.2355 83.8868 42.3447 79.6297 42.3447 79.6297C42.3447 79.6297 40.0287 76.5335 39.3406 75.318C38.6524 74.1024 38.2091 70.9515 38.3745 68.5733C38.487 66.9664 39.329 64.6264 39.8633 63.2798C40.1197 62.6347 40.305 62.2168 40.305 62.2168L40.4622 62.2583L49.4975 64.6297L55.4692 66.1969Z" fill="#656565"/>
                    <path opacity="0.1" d="M56.3097 29.2153C55.4561 29.4607 54.6406 30.3032 53.9309 31.3264H53.7457C52.7055 31.3271 51.6835 31.0526 50.7831 30.5305C49.8826 30.0084 49.1356 29.2572 48.6176 28.3529C48.4011 27.9783 48.2269 27.5806 48.0981 27.1672C48.6093 25.8654 48.9881 24.7344 48.9881 24.7344C48.9881 24.7344 58.9151 28.469 56.3097 29.2153Z" fill="black"/>
                    <path d="M59.6592 25.0699C59.6607 25.9773 59.4544 26.8729 59.0561 27.6878C58.6579 28.5026 58.0785 29.215 57.3624 29.77C56.6463 30.325 55.8127 30.7077 54.9258 30.8889C54.0389 31.07 53.1223 31.0446 52.2467 30.8146C51.3712 30.5847 50.5599 30.1563 49.8755 29.5626C49.1911 28.9688 48.6517 28.2254 48.299 27.3898C47.9463 26.5541 47.7897 25.6484 47.8411 24.7425C47.8926 23.8365 48.1507 22.9545 48.5958 22.1644C48.7751 21.8434 48.9844 21.5402 49.2211 21.2589C49.6112 20.793 50.0697 20.3893 50.5808 20.0616C51.4443 19.5115 52.4353 19.1954 53.457 19.1441C54.4787 19.0929 55.4962 19.3082 56.4101 19.769C57.324 20.2299 58.1031 20.9205 58.6711 21.7735C59.2391 22.6264 59.5767 23.6125 59.6509 24.6354C59.6542 24.7813 59.6592 24.9256 59.6592 25.0699Z" fill="#C2C2C2"/>
                    <path opacity="0.1" d="M54.6902 39.2623L54.6703 39.4447L51.9193 35.133C51.6315 35.8146 51.4711 36.2706 51.4711 36.2706C51.4711 36.2706 44.9369 31.3386 45.9708 31.0069C46.3182 30.8958 46.7747 30.1495 47.2263 29.2092L47.2826 29.0898C47.7623 30.5227 50.5497 33.3867 51.7093 34.5343C51.8433 34.667 51.9541 34.7764 52.0401 34.856L52.2171 35.0219L52.3097 35.1147C52.7316 35.5509 54.5115 37.4746 54.6902 39.2623Z" fill="black"/>
                    <path d="M56.7461 53.8919L56.4451 63.605L56.3921 65.3347C56.3921 65.3347 52.8256 65.003 49.4973 64.6381C46.8175 64.3446 44.2915 64.0279 43.9028 63.8421C43.4065 63.6083 42.3429 63.4275 41.5042 63.3131C40.8557 63.2252 40.3462 63.1788 40.3462 63.1788C40.3462 63.1788 40.156 63.2351 39.8632 63.2882C39.2247 63.4043 38.1031 63.4988 37.4497 62.93C36.6143 62.202 38.8094 59.5569 39.357 58.9217L39.4777 58.7841L39.271 56.8686L38.7334 51.9018C38.7334 51.9018 38.4025 49.0411 37.9062 47.5071C37.7736 47.071 37.6778 46.6244 37.6201 46.1721C37.4357 44.7711 37.5301 43.3473 37.898 41.9831C38.0551 41.4034 38.1549 40.8096 38.1957 40.2103C38.2784 38.6763 42.9516 32.7476 44.1096 32.2086C44.6305 31.9651 45.0496 31.546 45.294 31.0245C45.3747 30.8605 45.4352 30.6874 45.4743 30.5088C45.9706 28.3529 47.2261 29.2086 47.2261 29.2086C47.5288 30.8952 52.2152 35.3595 52.2152 35.3595L52.3079 35.4524C52.7727 35.93 54.8438 38.1721 54.6966 40.0859C54.6671 40.7982 54.7732 41.5096 55.0092 42.1821C55.9624 45.1911 56.5104 48.3144 56.6386 51.469L56.7461 53.8919Z" fill="#DCE6F2"/>
                    <path opacity="0.1" d="M50.1065 42.3584C50.1065 42.3584 48.9485 45.1776 48.08 45.6337C47.2116 46.0897 50.52 46.5955 50.1065 42.3584Z" fill="black"/>
                    <path opacity="0.1" d="M50.9749 47.623C50.9749 47.623 48.3281 47.9547 48.3281 48.4522C48.3281 48.9497 50.9749 47.623 50.9749 47.623Z" fill="black"/>
                    <path opacity="0.1" d="M53.7457 50.8574C53.7457 50.8574 49.8996 59.0664 48.8244 59.3151C47.7491 59.5639 53.7457 50.8574 53.7457 50.8574Z" fill="black"/>
                    <path opacity="0.1" d="M52.1426 35.7766L48.9615 37.163L45.1221 31.3487C45.2027 31.1848 45.2633 31.0116 45.3024 30.833C45.7986 28.6771 47.0542 29.5328 47.0542 29.5328C47.3569 31.2194 52.0433 35.6837 52.0433 35.6837L52.1426 35.7766Z" fill="black"/>
                    <path d="M52.3081 35.4446L49.127 36.831L45.2876 31.0167C45.3683 30.8527 45.4288 30.6795 45.4679 30.501C45.9642 28.3451 47.2197 29.2008 47.2197 29.2008C47.5224 30.8874 52.2088 35.3517 52.2088 35.3517L52.3081 35.4446Z" fill="#DCE6F2"/>
                    <path opacity="0.1" d="M56.3925 65.3348C56.3925 65.3348 52.826 65.0031 49.4977 64.6383L55.4695 66.2054V68.0296C55.2081 68.2668 54.9815 68.3895 54.8342 68.3265C54.1461 68.0363 48.53 67.1242 48.53 67.1242C48.53 67.1242 45.2679 65.4658 41.7477 63.4758C41.6623 63.4283 41.5794 63.3763 41.4996 63.3199C41.0891 63.0405 40.7355 62.6854 40.4574 62.2734C39.8073 61.3298 39.4897 60.1175 39.3524 58.9285C39.2752 58.247 39.2465 57.561 39.2664 56.8754C39.2834 56.0981 39.3542 55.3229 39.4781 54.5554C39.1377 51.5826 38.972 48.5924 38.9819 45.6001C39.0232 40.9567 43.3655 39.2983 43.3655 39.2983C51.3471 38.5935 48.8724 51.5288 48.8724 51.5288C48.8724 51.5288 48.4109 55.1772 48.2852 55.5504C48.1595 55.9235 47.7079 56.5454 47.7691 57.416C47.8303 58.2867 49.3555 59.3282 49.3555 59.3282C49.3555 59.3282 50.8443 60.028 51.458 61.0645C51.9046 61.829 54.8061 62.8655 56.4454 63.6051L56.3925 65.3348Z" fill="black"/>
                    <path opacity="0.1" d="M59.0658 21.3885C59.0689 21.6616 59.0124 21.9321 58.9004 22.1812C58.8156 22.3844 58.7172 22.5816 58.606 22.7715C58.4318 23.1209 58.1847 23.4286 57.8814 23.6737C57.4993 23.9473 57.0162 24.0236 56.558 24.1347C56.0998 24.2458 55.6234 24.4233 55.362 24.8147C55.2204 25.0663 55.1256 25.3416 55.0825 25.6273C55.0386 25.9127 54.925 26.1827 54.7516 26.4133C54.6613 26.5259 54.5363 26.6053 54.3962 26.6389C54.2561 26.6725 54.1088 26.6585 53.9774 26.5991C53.8391 26.5056 53.7342 26.3702 53.678 26.2127C53.4894 25.7865 53.4415 25.3138 53.3654 24.8545C53.2893 24.3951 53.1818 23.9225 52.9005 23.5526C52.6193 23.1828 52.1214 22.939 51.6797 23.0833C51.5319 23.1404 51.3971 23.2268 51.2834 23.3373C51.1697 23.4479 51.0794 23.5804 51.018 23.7268C50.8958 24.0199 50.8118 24.3275 50.7683 24.6422C50.5631 25.7677 50.3211 26.8865 50.0421 27.9987C50.0335 28.0443 50.0149 28.0874 49.9875 28.1248C49.9435 28.1687 49.8841 28.1937 49.822 28.1944C49.4515 28.2442 49.0958 27.9838 48.722 28.012C48.6835 28.0146 48.6453 28.0207 48.6078 28.0303C48.0034 26.9771 47.7365 25.7632 47.8433 24.5529C47.9501 23.3426 48.4255 22.1944 49.205 21.2641L49.2348 21.2558C49.4835 21.1673 49.7095 21.0245 49.8965 20.8379C50.1353 20.5983 50.3564 20.3417 50.5582 20.07L50.6905 19.9042C51.0707 19.445 51.5038 19.0325 51.9808 18.6754C52.111 18.5684 52.2603 18.4874 52.4208 18.4365C52.5582 18.4097 52.6989 18.4052 52.8377 18.4233C53.409 18.492 53.9849 18.5137 54.5597 18.488C54.9603 18.4248 55.3639 18.3839 55.769 18.3652C56.8161 18.3951 57.7094 19.1364 58.371 19.949C58.7267 20.3652 59.0443 20.8445 59.0658 21.3885Z" fill="black"/>
                    <path d="M47.8235 22.3218C47.5935 22.7 47.1783 22.957 47.0228 23.3716C46.7945 23.9736 47.18 24.7232 46.826 25.2605C46.7085 25.4413 46.515 25.5756 46.4488 25.7829C46.3363 26.1328 46.644 26.5059 46.5646 26.8658C46.4852 27.2257 46.0121 27.5291 46.1378 27.8807C46.2121 28.034 46.3424 28.1528 46.5018 28.2124C46.7524 28.3565 47.0409 28.4208 47.3289 28.3965C47.7805 28.3218 48.1163 27.8774 48.5745 27.8442C48.9467 27.8177 49.3023 28.0764 49.6729 28.0283C49.735 28.0261 49.794 28.0007 49.8383 27.957C49.8664 27.92 49.8852 27.8768 49.8929 27.831C50.1708 26.7199 50.4134 25.601 50.6208 24.4744C50.663 24.1597 50.7464 23.8519 50.8689 23.559C50.9308 23.4129 51.0212 23.2807 51.1348 23.1702C51.2485 23.0597 51.383 22.9731 51.5306 22.9155C51.9723 22.7729 52.4685 23.015 52.7514 23.3849C53.0343 23.7547 53.1418 24.2273 53.2179 24.6867C53.294 25.1461 53.342 25.6187 53.5289 26.0449C53.5857 26.203 53.6911 26.3389 53.8299 26.433C54.0781 26.5772 54.4122 26.4628 54.6025 26.2472C54.7767 26.0165 54.8905 25.7457 54.9333 25.4595C54.9765 25.1744 55.0712 24.8995 55.2129 24.6485C55.4742 24.2572 55.9523 24.0797 56.4089 23.9686C56.8654 23.8575 57.3468 23.7796 57.7323 23.5059C58.0352 23.2611 58.2822 22.954 58.4568 22.6054C58.7016 22.1776 58.9299 21.7132 58.9101 21.2207C58.8886 20.6834 58.5709 20.2041 58.2318 19.7862C57.5701 18.9736 56.6752 18.2323 55.6281 18.2041C55.2229 18.2211 54.8192 18.2621 54.4188 18.3268C53.844 18.3527 53.268 18.3305 52.6968 18.2605C52.5579 18.2438 52.4173 18.2489 52.2799 18.2754C52.1193 18.3246 51.9702 18.4058 51.8416 18.5142C51.3642 18.8708 50.9305 19.2827 50.5496 19.7414C50.3041 20.0679 50.0377 20.3781 49.7523 20.6701C49.5652 20.8571 49.3393 21.0003 49.0906 21.0897C48.9252 21.1361 48.7598 21.1029 48.6026 21.1543C48.1146 21.3086 48.0501 21.9471 47.8235 22.3218Z" fill="#B7B7B7"/>
                    <path opacity="0.1" d="M63.7538 26.8313C62.4304 27.075 61.3337 26.0021 60.7266 25.2193C60.5401 24.9816 60.3704 24.7311 60.2188 24.4697L64.7612 25.3288L64.9448 25.3636C64.9448 25.3636 65.7802 26.4598 63.7538 26.8313Z" fill="black"/>
                    <g opacity="0.1">
                    <path opacity="0.1" d="M46.5648 26.3917C46.5833 26.1748 46.5504 25.9566 46.4689 25.7549C46.4689 25.7715 46.454 25.7881 46.449 25.8046C46.3779 26.0269 46.4738 26.2574 46.535 26.4879C46.5482 26.4569 46.5581 26.4247 46.5648 26.3917Z" fill="black"/>
                    <path opacity="0.1" d="M46.9584 23.6768C46.9414 23.9061 46.9458 24.1365 46.9716 24.365C46.9886 24.1357 46.9841 23.9053 46.9584 23.6768Z" fill="black"/>
                    <path opacity="0.1" d="M58.4471 22.1263C58.273 22.4757 58.0259 22.7834 57.7226 23.0284C57.3405 23.3021 56.8591 23.3784 56.3992 23.4895C55.9393 23.6006 55.4646 23.778 55.2032 24.1694C55.0618 24.4211 54.9671 24.6964 54.9236 24.982C54.8805 25.2681 54.7668 25.5389 54.5928 25.7697C54.4026 25.9853 54.0684 26.1014 53.8203 25.9555C53.6814 25.8614 53.576 25.7255 53.5192 25.5674C53.3323 25.1412 53.2826 24.6702 53.2082 24.2092C53.1338 23.7482 53.0229 23.2772 52.7417 22.9074C52.4605 22.5376 51.9626 22.2938 51.5209 22.4381C51.3732 22.4954 51.2385 22.5819 51.1249 22.6924C51.0112 22.8029 50.9208 22.9353 50.8592 23.0815C50.7368 23.3744 50.6533 23.6822 50.6111 23.9969C50.4049 25.1235 50.1622 26.2424 49.8832 27.3535C49.8755 27.3993 49.8567 27.4426 49.8286 27.4795C49.7843 27.5232 49.7253 27.5487 49.6632 27.5508C49.2927 27.5989 48.937 27.3402 48.5648 27.3668C48.1066 27.3999 47.7708 27.8444 47.3192 27.9173C47.0311 27.9432 46.7421 27.8789 46.4921 27.7333C46.3771 27.6837 46.2739 27.6102 46.1893 27.5177C46.1506 27.5732 46.125 27.6369 46.1144 27.7038C46.1038 27.7707 46.1085 27.8392 46.1281 27.9041C46.201 28.0585 46.3318 28.1777 46.4921 28.2357C46.7421 28.3814 47.0311 28.4457 47.3192 28.4198C47.7708 28.3469 48.1066 27.9024 48.5648 27.8692C48.937 27.8427 49.2927 28.1014 49.6632 28.0533C49.7253 28.0512 49.7843 28.0257 49.8286 27.982C49.8567 27.9451 49.8755 27.9018 49.8832 27.856C50.1611 26.7504 50.4037 25.6315 50.6111 24.4994C50.6533 24.1847 50.7368 23.8769 50.8592 23.584C50.9208 23.4378 51.0112 23.3054 51.1249 23.1949C51.2385 23.0844 51.3732 22.9979 51.5209 22.9406C51.9626 22.7963 52.4588 23.0401 52.7417 23.4099C53.0246 23.7797 53.1321 24.2523 53.2082 24.7117C53.2843 25.1711 53.3323 25.6437 53.5192 26.0699C53.576 26.228 53.6814 26.3639 53.8203 26.458C54.0684 26.6022 54.4026 26.4878 54.5928 26.2722C54.7668 26.0414 54.8805 25.7706 54.9236 25.4845C54.9671 25.1989 55.0618 24.9236 55.2032 24.6719C55.4646 24.2805 55.9426 24.1047 56.3992 23.992C56.8558 23.8792 57.3371 23.8046 57.7226 23.5309C58.0259 23.2859 58.273 22.9782 58.4471 22.6288C58.6919 22.2026 58.9202 21.7382 58.9004 21.2457C58.8971 21.1824 58.8905 21.1193 58.8805 21.0566C58.8007 21.4362 58.6539 21.7984 58.4471 22.1263Z" fill="black"/>
                    </g>
                    <path opacity="0.1" d="M58.9065 22.1756C59.3307 22.9318 59.5822 23.7729 59.6427 24.6383C58.1687 23.8091 56.7825 22.8987 56.0828 22.5819C54.8636 22.0297 50.3046 22.1126 48.5908 22.164C48.7701 21.843 48.9795 21.5398 49.2161 21.2585C49.6077 20.7923 50.0679 20.3885 50.5808 20.0612C51.2601 19.629 52.0202 19.3402 52.8146 19.2125C53.609 19.0848 54.421 19.1209 55.2011 19.3185C55.9811 19.5161 56.7128 19.871 57.3513 20.3617C57.9898 20.8524 58.5218 21.4685 58.9148 22.1723L58.9065 22.1756Z" fill="black"/>
                    <path opacity="0.1" d="M64.1674 26.1281C63.3717 26.3735 62.0731 25.8992 60.7266 25.2193C60.5401 24.9816 60.3704 24.7311 60.2188 24.4697L64.7612 25.3288C65.0623 25.5344 65.1384 25.8279 64.1674 26.1281Z" fill="black"/>
                    <path d="M54.0979 16.4265C54.0979 16.4265 49.7556 16.1777 48.5348 18.5409L48.3379 20.6354L48.0071 20.5989L47.9409 22.0235C47.9409 22.0235 54.5776 21.7333 56.0879 22.4165C57.5982 23.0998 62.2913 26.5426 64.1721 25.9621C66.0529 25.3817 64.0067 24.8427 64.0067 24.8427C64.0067 24.8427 61.4178 23.7432 61.4178 22.8809C61.4178 22.0185 60.776 17.463 54.0979 16.4265Z" fill="#656565"/>
                    <path opacity="0.1" d="M45.7227 94.0713C45.7227 94.0713 48.4935 96.7662 49.6928 96.5589C49.6928 96.5589 46.3016 96.2686 45.7227 94.0713Z" fill="black"/>
                    <path opacity="0.1" d="M45.1436 95.3203C45.1436 95.3203 45.3917 96.7067 46.0534 96.5707C46.7151 96.4347 45.1436 95.3203 45.1436 95.3203Z" fill="black"/>
                    <path opacity="0.1" d="M49.4859 118.491C49.4859 118.491 45.5522 121.559 46.2155 121.642C46.8788 121.725 49.4859 118.491 49.4859 118.491Z" fill="black"/>
                    <path d="M54.748 57.6004L67.4855 55.5225V67.612L55.3833 66.9769L54.748 57.6004Z" fill="#B6B6B6"/>
                    <path opacity="0.05" d="M54.748 57.6004L67.4855 55.5225V67.612L55.3833 66.9769L54.748 57.6004Z" fill="black"/>
                    <path d="M67.4854 55.5225L82.7604 56.6684L81.9151 67.1891L67.4854 67.612V55.5225Z" fill="#B6B6B6"/>
                    <path opacity="0.1" d="M67.4854 55.5225L82.7604 56.6684L81.9151 67.1891L67.4854 67.612V55.5225Z" fill="black"/>
                    <path d="M72.1817 51.832L67.4854 55.5219L82.7604 56.6678L85.2566 52.8917L72.1817 51.832Z" fill="#B6B6B6"/>
                    <path d="M50.1362 53.5706L61.6033 52.1709L67.4857 55.5225L54.7482 57.6004L50.1362 53.5706Z" fill="#B6B6B6"/>
                    <path d="M70.2779 58.662V75.191L64.3111 74.5774L61.7156 74.3121L60.9249 74.2291L58.3311 73.9621L54.748 73.594V57.6006L67.4839 58.4696L70.2779 58.662Z" fill="#B6B6B6"/>
                    <path d="M82.7606 56.668V72.7874L77.9782 73.7078L75.6524 74.1556L70.2778 75.1904V58.6613L82.7606 56.668Z" fill="#B6B6B6"/>
                    <path opacity="0.05" d="M82.7606 56.668V72.7874L77.9782 73.7078L75.6524 74.1556L70.2778 75.1904V58.6613L82.7606 56.668Z" fill="black"/>
                    <path d="M50.1362 61.0799L54.7482 57.6006L70.278 58.662L67.9919 62.5226L50.1362 61.0799Z" fill="#B6B6B6"/>
                    <path opacity="0.1" d="M50.1362 61.0799L54.7482 57.6006L70.278 58.662L67.9919 62.5226L50.1362 61.0799Z" fill="white"/>
                    <path d="M82.7606 56.668L70.2778 58.6613L74.3406 62.3098L87.7116 60.061L82.7606 56.668Z" fill="#B6B6B6"/>
                    <path opacity="0.1" d="M82.7606 56.668L70.2778 58.6613L74.3406 62.3098L87.7116 60.061L82.7606 56.668Z" fill="white"/>
                    <path opacity="0.1" d="M77.9782 73.7084L75.6523 74.1562V70.7117L77.831 70.1611L77.9782 73.7084Z" fill="white"/>
                    <path opacity="0.1" d="M64.3113 72.2988V74.5774L61.7158 74.3121V72.2988H64.3113Z" fill="white"/>
                    <path opacity="0.1" d="M60.9249 73.0166V74.2289L58.3311 73.9619V73.0166H60.9249Z" fill="white"/>
                    <path opacity="0.1" d="M68.7162 71.0896C66.9379 73.3698 61.0654 71.7944 61.0654 71.7944L56.7016 67.2305L56.1094 66.6119L57.2673 64.4561C57.2673 64.4561 57.5982 64.5655 58.1507 64.7579C61.0753 65.7828 70.2132 69.1708 68.7162 71.0896Z" fill="black"/>
                    <path d="M68.5507 70.7575C66.7724 73.0378 60.8999 71.4623 60.8999 71.4623L56.5361 66.8985L55.9438 66.2799L57.1018 64.124C57.1018 64.124 57.4326 64.2335 57.9852 64.4258C60.9098 65.4507 70.0477 68.8388 68.5507 70.7575Z" fill="#C2C2C2"/>
                    <path opacity="0.1" d="M57.9788 64.4258C57.7373 65.1224 57.1236 66.1539 56.5297 66.8985L55.9375 66.2799L57.0955 64.124C57.0955 64.124 57.428 64.2335 57.9788 64.4258Z" fill="black"/>
                    <path d="M43.5306 38.6349C43.5306 38.6349 39.1883 40.2932 39.1469 44.9367C39.137 47.9289 39.3027 50.9192 39.6432 53.8919C39.6432 53.8919 38.4025 60.8156 41.9177 62.8057C45.4329 64.7957 48.7 66.4541 48.7 66.4541C48.7 66.4541 54.3161 67.3662 55.0059 67.6564C55.6957 67.9466 58.0927 64.2153 57.7205 63.5934C57.3483 62.9715 52.2351 61.4375 51.628 60.401C51.0209 59.3646 49.5255 58.6664 49.5255 58.6664C49.5255 58.6664 48.0003 57.6233 47.9391 56.7526C47.8779 55.882 48.3278 55.2601 48.4552 54.8869C48.5826 54.5138 49.0441 50.8654 49.0441 50.8654C49.0441 50.8654 51.5122 37.9218 43.5306 38.6349Z" fill="#DCE6F2"/>
                    <path opacity="0.1" d="M45.5159 54.0078C45.5159 54.0078 39.6435 54.6712 40.0984 56.7441C40.0984 56.7441 42.3299 54.6529 45.5159 54.0078Z" fill="black"/>
                    <path opacity="0.1" d="M45.5159 54.8379C45.5159 54.8379 42.1827 57.284 42.7948 57.4498C43.4068 57.6157 45.5159 54.8379 45.5159 54.8379Z" fill="black"/>
                    <path opacity="0.1" d="M47.0045 55.832C47.0045 55.832 46.0533 57.5468 46.5909 57.4572C47.1285 57.3677 47.0045 55.832 47.0045 55.832Z" fill="black"/>
                    <path d="M108.148 18.638C108.148 18.638 101.862 18.2583 102.596 22.6795C102.596 22.6795 102.449 23.4606 103.155 23.8155C103.155 23.8155 103.167 23.4838 103.801 23.5982C104.026 23.6363 104.256 23.6474 104.484 23.6314C104.793 23.6107 105.087 23.489 105.321 23.2848C105.321 23.2848 107.089 22.5535 107.777 19.6546C107.777 19.6546 108.287 19.0211 108.274 18.8586L107.212 19.3147C107.212 19.3147 107.574 20.0825 107.288 20.721C107.288 20.721 107.255 19.3429 107.049 19.3744C107.008 19.3744 106.499 19.6414 106.499 19.6414C106.499 19.6414 107.122 20.978 106.651 21.9515C106.651 21.9515 106.829 20.3031 106.303 19.7375L105.556 20.1754C105.556 20.1754 106.285 21.5568 105.791 22.6845C105.791 22.6845 105.918 20.9548 105.399 20.2815L104.72 20.8105C104.72 20.8105 105.407 22.1737 104.988 23.109C104.988 23.109 104.934 21.0958 104.573 20.9432C104.573 20.9432 103.981 21.4672 103.892 21.6828C103.892 21.6828 104.36 22.6778 104.069 23.1936C104.069 23.1936 103.89 21.852 103.738 21.8453C103.738 21.8453 103.147 22.7342 103.086 23.3379C103.115 22.7751 103.29 22.2297 103.594 21.7558C103.253 21.8203 102.939 21.9835 102.691 22.2251C102.691 22.2251 102.782 21.5966 103.739 21.5419C103.739 21.5419 104.236 20.8669 104.358 20.8254C104.358 20.8254 103.405 20.7458 102.828 21.0029C102.828 21.0029 103.336 20.4108 104.533 20.6712L105.195 20.124C105.195 20.124 103.941 19.9581 103.409 20.1422C103.409 20.1422 104.021 19.6181 105.375 19.9996L106.103 19.5634C106.103 19.5634 105.035 19.3312 104.398 19.4158C104.398 19.4158 105.069 19.0526 106.317 19.4457L106.838 19.2118C106.838 19.2118 106.054 19.0576 105.825 19.0327C105.597 19.0079 105.584 18.9448 105.584 18.9448C106.08 18.8621 106.589 18.9195 107.054 19.1107C107.054 19.1107 108.171 18.7077 108.148 18.638Z" fill="#B6B6B6"/>
                    <path opacity="0.4" d="M127.247 40.7513C127.247 40.7513 120.961 40.3716 121.696 44.7928C121.696 44.7928 121.549 45.5739 122.255 45.9288C122.255 45.9288 122.267 45.5971 122.902 45.7115C123.127 45.7496 123.357 45.7607 123.585 45.7447C123.891 45.7225 124.181 45.6014 124.412 45.3998C124.412 45.3998 126.182 44.6667 126.87 41.7679C126.87 41.7679 127.378 41.1361 127.358 40.9735L126.296 41.4279C126.296 41.4279 126.659 42.1958 126.374 42.8342C126.374 42.8342 126.339 41.4561 126.136 41.4876C126.094 41.4876 125.583 41.7546 125.583 41.7546C125.583 41.7546 126.209 43.0929 125.737 44.0648C125.737 44.0648 125.916 42.4163 125.388 41.8508L124.649 42.2837C124.649 42.2837 125.378 43.6651 124.884 44.7928C124.884 44.7928 125.011 43.0631 124.492 42.3898L123.815 42.9205C123.815 42.9205 124.5 44.282 124.083 45.2173C124.083 45.2173 124.028 43.2041 123.668 43.0515C123.668 43.0515 123.076 43.5755 122.985 43.7911C122.985 43.7911 123.454 44.7862 123.163 45.3019C123.163 45.3019 122.985 43.9603 122.832 43.9536C122.832 43.9536 122.242 44.8425 122.181 45.4462C122.21 44.8833 122.386 44.338 122.69 43.8641C122.349 43.9288 122.035 44.0919 121.785 44.3334C121.785 44.3334 121.878 43.7049 122.836 43.6502C122.836 43.6502 123.324 42.9752 123.454 42.9337C123.454 42.9337 122.502 42.8541 121.924 43.1112C121.924 43.1112 122.432 42.5192 123.628 42.7878L124.29 42.2405C124.29 42.2405 123.034 42.0747 122.503 42.2588C122.503 42.2588 123.115 41.7347 124.47 42.1162L125.198 41.68C125.198 41.68 124.128 41.4495 123.491 41.5324C123.491 41.5324 124.164 41.1692 125.411 41.5623L125.932 41.3284C125.932 41.3284 125.148 41.1742 124.918 41.1493C124.688 41.1245 124.677 41.0614 124.677 41.0614C125.173 40.9786 125.683 41.036 126.149 41.2273C126.149 41.2273 127.267 40.821 127.247 40.7513Z" fill="#B6B6B6"/>
                    <path opacity="0.3" d="M89.06 36.8259C89.06 36.8259 90.5074 30.675 86.0344 30.6534C86.0344 30.6534 85.2917 30.3748 84.8235 31.0117C84.8235 31.0117 85.1428 31.0797 84.9261 31.6866C84.8511 31.9012 84.8012 32.1238 84.7772 32.35C84.7451 32.6582 84.8143 32.9686 84.974 33.2339C84.974 33.2339 85.3926 35.1078 88.1171 36.282C88.1171 36.282 88.6531 36.8923 88.8152 36.8989L88.5505 35.7729C88.5505 35.7729 87.7333 36.0001 87.1543 35.607C87.1543 35.607 88.5158 35.8077 88.5174 35.607C88.5174 35.5656 88.352 35.0166 88.352 35.0166C88.352 35.0166 86.931 35.4047 86.0543 34.7729C86.0543 34.7729 87.644 35.2306 88.2908 34.8077L87.993 33.9918C87.993 33.9918 86.5042 34.4777 85.4852 33.7961C85.4852 33.7961 87.1642 34.2173 87.9153 33.8193L87.51 33.0598C87.51 33.0598 86.0543 33.5042 85.2056 32.9321C85.2056 32.9321 87.1907 33.2206 87.4058 32.8923C87.4058 32.8923 86.9922 32.2173 86.7953 32.0913C86.7953 32.0913 85.7433 32.3865 85.2801 32.01C85.2801 32.01 86.6283 32.0614 86.6597 31.9188C86.6597 31.9188 85.8872 31.1841 85.2983 31.0183C85.8471 31.1436 86.3539 31.4099 86.7689 31.7911C86.7628 31.4435 86.6559 31.1053 86.4612 30.8176C86.4612 30.8176 87.0633 31.0166 86.9575 31.9785C86.9575 31.9785 87.5364 32.5755 87.5546 32.7115C87.5546 32.7115 87.7945 31.7845 87.6407 31.1692C87.6407 31.1692 88.1369 31.7729 87.6688 32.9088L88.0923 33.6634C88.0923 33.6634 88.476 32.4528 88.3784 31.8956C88.3784 31.8956 88.7904 32.5888 88.1832 33.8624L88.4893 34.6568C88.4893 34.6568 88.8979 33.6385 88.9243 32.9984C88.9243 32.9984 89.1675 33.7248 88.567 34.8906L88.7093 35.4445C88.7093 35.4445 88.9938 34.6966 89.0567 34.4743C89.1195 34.2521 89.1841 34.2505 89.1841 34.2505C89.1815 34.755 89.0389 35.2488 88.7722 35.6767C88.7722 35.6767 88.9889 36.8342 89.06 36.8259Z" fill="#B6B6B6"/>
                    <path opacity="0.6" d="M75.2934 38.9222C75.2934 38.9222 70.2447 35.1361 68.4399 39.2373C68.4399 39.2373 67.8891 39.8094 68.2844 40.4943C68.2844 40.4943 68.473 40.2273 68.9461 40.6701C69.1137 40.8264 69.2992 40.9622 69.4986 41.0747C69.7688 41.2256 70.0807 41.2838 70.3869 41.2406C70.3869 41.2406 72.2661 41.6038 74.4299 39.5623C74.4299 39.5623 75.2024 39.3136 75.2752 39.1676L74.1354 38.967C74.1354 38.967 74.0163 39.8077 73.429 40.1842C73.429 40.1842 74.1553 39.0134 73.9667 38.9288C73.9286 38.9106 73.3596 38.8459 73.3596 38.8459C73.3596 38.8459 73.1478 40.3086 72.2215 40.8608C72.2215 40.8608 73.2752 39.5822 73.1445 38.8194L72.2794 38.7729C72.2794 38.7729 72.1321 40.3301 71.0999 41.0001C71.0999 41.0001 72.1536 39.6253 72.0924 38.7762L71.2356 38.8459C71.2356 38.8459 71.0619 40.36 70.2 40.9106C70.2 40.9106 71.2571 39.1991 71.0404 38.8741C71.0404 38.8741 70.2579 38.9852 70.0644 39.1146C70.0644 39.1146 69.9138 40.1991 69.3845 40.4744C69.3845 40.4744 69.9717 39.2555 69.8526 39.1709C69.8526 39.1709 68.8717 39.5872 68.4862 40.0615C68.8197 39.6074 69.2656 39.2484 69.7798 39.02C69.4599 38.8867 69.108 38.8498 68.7675 38.9139C68.7675 38.9139 69.1876 38.4396 70.0181 38.9222C70.0181 38.9222 70.7955 38.6286 70.9279 38.6651C70.9279 38.6651 70.1752 38.0731 69.5516 37.9703C69.5516 37.9703 70.3026 37.7547 71.1545 38.6336L72.013 38.5457C72.013 38.5457 71.0586 37.7165 70.511 37.5772C70.511 37.5772 71.31 37.4761 72.2314 38.5408L73.0784 38.5789C73.0784 38.5789 72.3125 37.7961 71.7351 37.5142C71.7351 37.5142 72.4944 37.5806 73.3215 38.5971L73.8856 38.6884C73.8856 38.6884 73.3149 38.1278 73.1363 37.9819C72.9576 37.8359 72.9824 37.7746 72.9824 37.7746C73.4426 37.9789 73.8372 38.3073 74.1222 38.7232C74.1222 38.7232 75.2719 38.9902 75.2934 38.9222Z" fill="#B6B6B6"/>
                    <path opacity="0.3" d="M92.102 3.74616C92.102 3.74616 87.0533 -0.0415659 85.2485 4.06125C85.2485 4.06125 84.6977 4.63339 85.093 5.3183C85.093 5.3183 85.2816 5.0513 85.7547 5.49409C85.9232 5.64957 86.1091 5.78482 86.3089 5.89707C86.579 6.04801 86.891 6.10625 87.1972 6.06291C87.1972 6.06291 89.0764 6.4261 91.2401 4.38298C91.2401 4.38298 92.0126 4.13588 92.0838 3.98829L90.944 3.79094C90.944 3.79094 90.8266 4.63174 90.2376 5.00819C90.2376 5.00819 90.9655 3.83737 90.7769 3.7528C90.7389 3.73455 90.1698 3.66988 90.1698 3.66988C90.1698 3.66988 89.9515 5.13588 89.0251 5.6848C89.0251 5.6848 90.0772 4.4062 89.9482 3.64334L89.083 3.59691C89.083 3.59691 88.9341 5.15412 87.9035 5.82245C87.9035 5.82245 88.9573 4.44766 88.8961 3.59857L88.0408 3.66822C88.0408 3.66822 87.8655 5.18397 87.0036 5.73455C87.0036 5.73455 88.0624 4.02311 87.8457 3.69807C87.8457 3.69807 87.0632 3.80918 86.8697 3.93853C86.8697 3.93853 86.7191 5.02311 86.1898 5.2984C86.1898 5.2984 86.777 4.0795 86.6579 3.99326C86.6579 3.99326 85.677 4.41117 85.2915 4.88547C85.6244 4.43086 86.0705 4.07175 86.5851 3.84401C86.2648 3.70969 85.9122 3.67278 85.5711 3.73787C85.5711 3.73787 85.9929 3.26358 86.8233 3.74616C86.8233 3.74616 87.6008 3.45097 87.7332 3.48911C87.7332 3.48911 86.9805 2.89708 86.3569 2.7926C86.3569 2.7926 87.1062 2.57867 87.9581 3.45595L88.8167 3.36805C88.8167 3.36805 87.8638 2.53887 87.3146 2.3979C87.3146 2.3979 88.1136 2.2984 89.0367 3.36308L89.8837 3.39956C89.8837 3.39956 89.1177 2.61681 88.5388 2.33654C88.5388 2.33654 89.2997 2.40288 90.1268 3.41946L90.6893 3.51067C90.6893 3.51067 90.1169 2.95678 89.9382 2.81416C89.7596 2.67154 89.7844 2.60852 89.7844 2.60852C90.2447 2.81259 90.6394 3.14104 90.9242 3.55711C90.9242 3.55711 92.0738 3.80918 92.102 3.74616Z" fill="#B6B6B6"/>
                    <path opacity="0.8" d="M111.394 8.54442C111.394 8.54442 109.376 2.55603 105.569 4.90926C105.569 4.90926 104.792 5.0751 104.73 5.85619C104.73 5.85619 105.036 5.74342 105.172 6.3736C105.223 6.59777 105.299 6.81535 105.399 7.02203C105.535 7.30017 105.758 7.52649 106.034 7.66714C106.034 7.66714 107.377 9.0353 110.315 8.58256C110.315 8.58256 111.091 8.81805 111.233 8.73679L110.406 7.92253C110.406 7.92253 109.834 8.54773 109.136 8.52286C109.136 8.52286 110.398 7.97228 110.294 7.79483C110.272 7.76001 109.84 7.38356 109.84 7.38356C109.84 7.38356 108.838 8.46647 107.763 8.39516C107.763 8.39516 109.352 7.94077 109.677 7.2343L108.992 6.70528C108.992 6.70528 107.989 7.90263 106.76 7.86614C106.76 7.86614 108.414 7.3338 108.833 6.59748L108.089 6.16797C108.089 6.16797 107.096 7.31722 106.067 7.28074C106.067 7.28074 107.907 6.47311 107.912 6.08173C107.912 6.08173 107.205 5.7285 106.972 5.72518C106.972 5.72518 106.234 6.53281 105.649 6.45984C105.649 6.45984 106.82 5.7882 106.77 5.65055C106.77 5.65055 105.728 5.43662 105.141 5.60909C105.672 5.4237 106.242 5.38082 106.795 5.48472C106.606 5.19267 106.337 4.96215 106.019 4.82137C106.019 4.82137 106.634 4.67045 107.046 5.53944C107.046 5.53944 107.854 5.74011 107.94 5.84458C107.94 5.84458 107.655 4.93082 107.2 4.48969C107.2 4.48969 107.94 4.74011 108.141 5.95238L108.899 6.36697C108.899 6.36697 108.586 5.13812 108.209 4.7086C108.209 4.7086 108.926 5.08007 109.081 6.4814L109.759 6.99384C109.759 6.99384 109.571 5.91258 109.253 5.35205C109.253 5.35205 109.842 5.83961 109.948 7.14807L110.36 7.54276C110.36 7.54276 110.208 6.75669 110.145 6.53447C110.082 6.31225 110.133 6.29732 110.133 6.29732C110.396 6.72752 110.535 7.22228 110.535 7.72684C110.535 7.72684 111.336 8.58754 111.394 8.54442Z" fill="#B6B6B6"/>
                    <path opacity="0.6" d="M98.2225 8.83877C98.2225 8.83877 91.9531 8.13893 92.4708 12.5983C92.4708 12.5983 92.2839 13.3711 92.9671 13.7592C92.9671 13.7592 92.9952 13.4275 93.6288 13.5767C93.8527 13.625 94.0813 13.6478 94.3103 13.6447C94.6197 13.6391 94.9187 13.5326 95.1622 13.3413C95.1622 13.3413 96.967 12.6995 97.809 9.83877C97.809 9.83877 98.3483 9.23346 98.3367 9.06928L97.2532 9.47061C97.2532 9.47061 97.584 10.255 97.2532 10.8786C97.2532 10.8786 97.2879 9.50046 97.0878 9.52202C97.0464 9.52202 96.5237 9.76082 96.5237 9.76082C96.5237 9.76082 97.0795 11.129 96.5601 12.0825C96.5601 12.0825 96.8214 10.4441 96.3235 9.85369L95.5543 10.2517C95.5543 10.2517 96.216 11.6696 95.6618 12.7708C95.6618 12.7708 95.8769 11.0494 95.3922 10.3512L94.6891 10.8487C94.6891 10.8487 95.3045 12.2434 94.8397 13.1572C94.8397 13.1572 94.8876 11.1439 94.5353 10.9731C94.5353 10.9731 93.9166 11.4706 93.8157 11.6762C93.8157 11.6762 94.2342 12.6879 93.9183 13.1937C93.9183 13.1937 93.8074 11.8454 93.6619 11.8321C93.6619 11.8321 93.0266 12.6895 92.934 13.2948C92.9914 12.7336 93.1944 12.1973 93.5229 11.7393C93.1796 11.7868 92.8577 11.9338 92.5965 12.1621C92.5965 12.1621 92.719 11.5403 93.6784 11.5336C93.6784 11.5336 94.1995 10.8852 94.3401 10.8504C94.3401 10.8504 93.3922 10.7227 92.8017 10.9499C92.8017 10.9499 93.3393 10.3827 94.5204 10.7127L95.2168 10.2003C95.2168 10.2003 93.958 9.9449 93.4253 10.1107C93.4253 10.1107 94.0638 9.61323 95.3971 10.0693L96.1465 9.66961C96.1465 9.66961 95.0895 9.38437 94.4493 9.43578C94.4493 9.43578 95.1391 9.10411 96.3649 9.56348L96.8975 9.35618C96.8975 9.35618 96.1217 9.16215 95.8934 9.12566C95.6651 9.08918 95.6569 9.02616 95.6569 9.02616C96.1569 8.96864 96.6632 9.05131 97.1192 9.26497C97.1192 9.26497 98.2341 8.90842 98.2225 8.83877Z" fill="#B6B6B6"/>
                    <path opacity="0.6" d="M153.077 57.624C153.077 57.624 146.81 56.9242 147.328 61.3785C147.328 61.3785 147.141 62.1514 147.825 62.5394C147.825 62.5394 147.853 62.2077 148.486 62.3553C148.71 62.4053 148.939 62.4281 149.168 62.4233C149.477 62.4186 149.777 62.3119 150.02 62.1198C150.02 62.1198 151.824 61.478 152.658 58.619C152.658 58.619 153.197 58.012 153.186 57.8495L152.102 58.2492C152.102 58.2492 152.433 59.0353 152.102 59.6588C152.102 59.6588 152.137 58.279 151.937 58.3023C151.896 58.3023 151.373 58.5394 151.373 58.5394C151.373 58.5394 151.929 59.9076 151.409 60.8611C151.409 60.8611 151.671 59.2243 151.173 58.6323L150.403 59.0319C150.403 59.0319 151.065 60.4499 150.513 61.551C150.513 61.551 150.726 59.8296 150.241 59.1298L149.538 59.6273C149.538 59.6273 150.154 61.022 149.689 61.9341C149.689 61.9341 149.737 59.9208 149.384 59.7517C149.384 59.7517 148.767 60.2492 148.665 60.4548C148.665 60.4548 149.085 61.4664 148.767 61.9722C148.767 61.9722 148.657 60.624 148.511 60.6107C148.511 60.6107 147.876 61.4681 147.783 62.0734C147.841 61.5122 148.044 60.9759 148.372 60.5179C148.029 60.5646 147.706 60.7116 147.446 60.9407C147.446 60.9407 147.568 60.3172 148.528 60.3106C148.528 60.3106 149.05 59.6621 149.189 59.629C149.189 59.629 148.241 59.4996 147.651 59.7268C147.651 59.7268 148.188 59.1613 149.371 59.4913L150.066 58.9789C150.066 58.9789 148.822 58.7434 148.281 58.9059C148.281 58.9059 148.92 58.4084 150.253 58.8628L151.002 58.4648C151.002 58.4648 149.945 58.1795 149.305 58.231C149.305 58.231 149.995 57.8993 151.221 58.3586L151.753 58.1497C151.753 58.1497 150.978 57.9557 150.749 57.9208C150.521 57.886 150.513 57.8213 150.513 57.8213C151.013 57.7628 151.519 57.8449 151.975 58.0585C151.975 58.0585 153.093 57.6953 153.077 57.624Z" fill="#B6B6B6"/>
                    <path opacity="0.3" d="M162.656 63.491C162.656 63.491 156.39 62.7928 156.908 67.2455C156.908 67.2455 156.723 68.0183 157.404 68.4064C157.404 68.4064 157.432 68.0747 158.066 68.224C158.289 68.2727 158.517 68.2949 158.746 68.2903C159.054 68.284 159.351 68.1781 159.594 67.9885C159.594 67.9885 161.397 67.3467 162.231 64.486C162.231 64.486 162.772 63.8807 162.759 63.7165L161.675 64.1162C161.675 64.1162 162.006 64.9022 161.675 65.5258C161.675 65.5258 161.71 64.1477 161.51 64.1692C161.469 64.1692 160.946 64.4064 160.946 64.4064C160.946 64.4064 161.502 65.7745 160.982 66.7281C160.982 66.7281 161.244 65.0913 160.746 64.5009L159.976 64.8989C159.976 64.8989 160.638 66.3168 160.086 67.418C160.086 67.418 160.299 65.6966 159.814 64.9984L159.111 65.4959C159.111 65.4959 159.727 66.8906 159.263 67.8044C159.263 67.8044 159.31 65.7895 158.957 65.6203C158.957 65.6203 158.34 66.1178 158.238 66.3235C158.238 66.3235 158.658 67.3351 158.34 67.8409C158.34 67.8409 158.23 66.4926 158.084 66.4793C158.084 66.4793 157.449 67.3367 157.358 67.942C157.415 67.3811 157.617 66.8449 157.945 66.3865C157.602 66.434 157.28 66.581 157.019 66.8094C157.019 66.8094 157.143 66.1858 158.102 66.1808C158.102 66.1808 158.623 65.5324 158.764 65.4976C158.764 65.4976 157.816 65.3699 157.225 65.5971C157.225 65.5971 157.763 65.0299 158.946 65.3599L159.641 64.8475C159.641 64.8475 158.397 64.612 157.856 64.7745C157.856 64.7745 158.494 64.277 159.828 64.7331L160.577 64.3334C160.577 64.3334 159.52 64.0482 158.88 64.0996C158.88 64.0996 159.569 63.7679 160.795 64.2273L161.328 64.02C161.328 64.02 160.552 63.826 160.325 63.7895C160.099 63.753 160.087 63.69 160.087 63.69C160.587 63.6324 161.094 63.7151 161.55 63.9288C161.55 63.9288 162.673 63.5623 162.656 63.491Z" fill="#B6B6B6"/>
                    <path opacity="0.4" d="M141.388 14.0696C141.388 14.0696 136.339 10.2836 134.534 14.3847C134.534 14.3847 133.983 14.9569 134.379 15.6418C134.379 15.6418 134.567 15.3748 135.04 15.8176C135.208 15.9739 135.393 16.1097 135.593 16.2222C135.863 16.3729 136.175 16.4311 136.481 16.3881C136.481 16.3881 138.36 16.7512 140.526 14.7098C140.526 14.7098 141.297 14.461 141.369 14.3151L140.233 14.1094C140.233 14.1094 140.114 14.9502 139.527 15.3267C139.527 15.3267 140.253 14.1559 140.064 14.0713C140.026 14.0531 139.459 13.9884 139.459 13.9884C139.459 13.9884 139.245 15.4511 138.319 16.0033C138.319 16.0033 139.373 14.7247 139.242 13.9619L138.377 13.9154C138.377 13.9154 138.23 15.4726 137.197 16.1426C137.197 16.1426 138.253 14.7678 138.19 13.9187L137.333 13.9884C137.333 13.9884 137.168 15.5025 136.298 16.0531C136.298 16.0531 137.356 14.3416 137.138 14.0166C137.138 14.0166 136.355 14.1277 136.162 14.257C136.162 14.257 136.013 15.3416 135.484 15.6169C135.484 15.6169 136.069 14.398 135.95 14.3134C135.95 14.3134 134.969 14.7297 134.584 15.204C134.917 14.7499 135.363 14.3909 135.877 14.1625C135.557 14.0292 135.206 13.9923 134.865 14.0564C134.865 14.0564 135.287 13.5821 136.117 14.0647C136.117 14.0647 136.893 13.7711 137.025 13.8076C137.025 13.8076 136.273 13.2156 135.649 13.1128C135.649 13.1128 136.4 12.8972 137.252 13.7761L138.111 13.6882C138.111 13.6882 137.158 12.859 136.609 12.7197C136.609 12.7197 137.408 12.6186 138.329 13.6832L139.178 13.7214C139.178 13.7214 138.41 12.9386 137.833 12.6567C137.833 12.6567 138.594 12.723 139.419 13.7396L139.983 13.8308C139.983 13.8308 139.412 13.2703 139.234 13.1244C139.055 12.9784 139.082 12.9303 139.082 12.9303C139.541 13.135 139.935 13.4633 140.22 13.8789C140.22 13.8789 141.366 14.1376 141.388 14.0696Z" fill="#B6B6B6"/>
                    <path opacity="0.3" d="M145.288 41.4026C145.288 41.4026 143.548 35.3279 139.634 37.5087C139.634 37.5087 138.85 37.6297 138.752 38.4158C138.752 38.4158 139.063 38.318 139.171 38.9531C139.211 39.1813 139.277 39.404 139.369 39.6165C139.492 39.9023 139.705 40.1399 139.975 40.2931C139.975 40.2931 141.255 41.7193 144.21 41.4009C144.21 41.4009 144.974 41.6695 145.12 41.5966L144.337 40.7442C144.337 40.7442 143.737 41.3445 143.042 41.2881C143.042 41.2881 144.325 40.7906 144.226 40.6132C144.206 40.5767 143.793 40.1803 143.793 40.1803C143.793 40.1803 142.744 41.2185 141.672 41.0974C141.672 41.0974 143.282 40.716 143.636 40.0294L142.974 39.4689C142.974 39.4689 141.919 40.6198 140.693 40.5302C140.693 40.5302 142.36 40.0709 142.82 39.3561L142.096 38.8934C142.096 38.8934 141.045 39.9962 140.026 39.9133C140.026 39.9133 141.9 39.1886 141.924 38.7989C141.924 38.7989 141.232 38.4142 140.999 38.4009C140.999 38.4009 140.226 39.1737 139.639 39.0742C139.639 39.0742 140.84 38.4556 140.797 38.3163C140.797 38.3163 139.765 38.056 139.171 38.2002C139.709 38.0403 140.279 38.0238 140.825 38.1521C140.65 37.8521 140.391 37.6099 140.081 37.4556C140.081 37.4556 140.703 37.3312 141.073 38.2185C141.073 38.2185 141.869 38.454 141.952 38.5634C141.952 38.5634 141.709 37.6364 141.273 37.177C141.273 37.177 142.001 37.4589 142.149 38.6795L142.886 39.1289C142.886 39.1289 142.628 37.8851 142.271 37.4473C142.271 37.4473 142.969 37.8503 143.063 39.2566L143.725 39.7989C143.725 39.7989 143.584 38.711 143.293 38.1405C143.293 38.1405 143.861 38.6546 143.907 39.9647L144.301 40.3793C144.301 40.3793 144.185 39.5866 144.135 39.3611C144.086 39.1356 144.135 39.104 144.135 39.104C144.38 39.5452 144.497 40.0459 144.474 40.5501C144.474 40.5501 145.229 41.4424 145.288 41.4026Z" fill="#B6B6B6"/>
                    <path opacity="0.3" d="M106.51 55.0911C106.51 55.0911 103.131 49.7545 99.9927 52.9485C99.9927 52.9485 99.2748 53.2801 99.4005 54.0679C99.4005 54.0679 99.6735 53.8854 99.9547 54.4659C100.056 54.6716 100.181 54.8642 100.329 55.0397C100.526 55.2791 100.796 55.4469 101.098 55.5173C101.098 55.5173 102.727 56.5256 105.473 55.3846C105.473 55.3846 106.282 55.4277 106.401 55.3166L105.409 54.7196C105.409 54.7196 105 55.4659 104.317 55.6068C104.317 55.6068 105.412 54.7777 105.265 54.6251C105.237 54.5952 104.727 54.3332 104.727 54.3332C104.727 54.3332 104.011 55.6234 102.949 55.8108C102.949 55.8108 104.386 54.9899 104.535 54.2304L103.743 53.8805C103.743 53.8805 103.053 55.2818 101.852 55.5388C101.852 55.5388 103.324 54.6284 103.564 53.8125L102.737 53.5737C102.737 53.5737 102.039 54.9286 101.038 55.1359C101.038 55.1359 102.633 53.912 102.545 53.5306C102.545 53.5306 101.774 53.3564 101.553 53.4095C101.553 53.4095 101.028 54.3697 100.436 54.4393C100.436 54.4393 101.415 53.5073 101.334 53.3846C101.334 53.3846 100.271 53.4261 99.7413 53.7329C100.213 53.4262 100.758 53.249 101.319 53.2188C101.068 52.9801 100.752 52.8204 100.411 52.7594C100.411 52.7594 100.972 52.4659 101.569 53.2122C101.569 53.2122 102.396 53.2122 102.51 53.2951C102.51 53.2951 102.014 52.4659 101.47 52.1558C101.47 52.1558 102.247 52.2221 102.73 53.3515L103.566 53.5737C103.566 53.5737 102.969 52.4543 102.504 52.1342C102.504 52.1342 103.286 52.3233 103.771 53.6483L104.552 53.98C104.552 53.98 104.112 52.9767 103.67 52.5073C103.67 52.5073 104.358 52.839 104.77 54.0845L105.266 54.3714C105.266 54.3714 104.936 53.6433 104.818 53.4427C104.701 53.242 104.747 53.1956 104.747 53.1956C105.105 53.55 105.357 53.9973 105.476 54.4874C105.476 54.4874 106.466 55.1475 106.51 55.0911Z" fill="#B6B6B6"/>
                    <path d="M128.721 27.8239C128.721 27.8239 125.507 22.3861 122.27 25.4806C122.27 25.4806 121.542 25.7957 121.645 26.5818C121.645 26.5818 121.921 26.406 122.186 26.9947C122.28 27.204 122.4 27.4011 122.541 27.5818C122.731 27.8263 122.996 28.0012 123.296 28.0793C123.296 28.0793 124.892 29.1373 127.673 28.0793C127.673 28.0793 128.48 28.1473 128.602 28.0395L127.631 27.4126C127.631 27.4126 127.201 28.144 126.513 28.265C126.513 28.265 127.633 27.464 127.492 27.3131C127.463 27.2816 126.963 27.003 126.963 27.003C126.963 27.003 126.207 28.2717 125.143 28.4259C125.143 28.4259 126.606 27.6498 126.776 26.8969L125.995 26.5287C125.995 26.5287 125.262 27.9101 124.053 28.1307C124.053 28.1307 125.554 27.2667 125.818 26.459L125.001 26.1937C125.001 26.1937 124.26 27.5204 123.254 27.7028C123.254 27.7028 124.885 26.5287 124.809 26.1456C124.809 26.1456 124.045 25.9466 123.817 25.993C123.817 25.993 123.262 26.9367 122.669 26.9881C122.669 26.9881 123.676 26.0892 123.6 25.9632C123.6 25.9632 122.535 25.9715 121.997 26.2617C122.479 25.9705 123.028 25.8104 123.59 25.7974C123.346 25.5508 123.034 25.3814 122.695 25.3098C122.695 25.3098 123.266 25.0328 123.853 25.7974C123.853 25.7974 124.68 25.8255 124.791 25.9101C124.791 25.9101 124.323 25.0809 123.787 24.7393C123.787 24.7393 124.561 24.8289 125.009 25.9731L125.836 26.2219C125.836 26.2219 125.276 25.0843 124.819 24.7493C124.819 24.7493 125.597 24.9632 126.04 26.3015L126.809 26.6614C126.809 26.6614 126.401 25.6448 125.982 25.1688C125.982 25.1688 126.659 25.5221 127.034 26.7791L127.519 27.0809C127.519 27.0809 127.208 26.343 127.099 26.139C126.989 25.935 127.036 25.8902 127.036 25.8902C127.383 26.2556 127.621 26.7103 127.726 27.2037C127.726 27.2037 128.673 27.8786 128.721 27.8239Z" fill="#B6B6B6"/>
                    <path d="M108.386 39.259C108.386 39.259 108.552 32.9406 104.173 33.8311C104.173 33.8311 103.389 33.7101 103.058 34.4298C103.058 34.4298 103.389 34.4298 103.296 35.0683C103.266 35.2959 103.263 35.5264 103.286 35.7548C103.316 36.0647 103.447 36.3561 103.659 36.584C103.659 36.584 104.448 38.332 107.361 38.9257C107.361 38.9257 108.008 39.4149 108.17 39.3883L107.673 38.3403C107.673 38.3403 106.921 38.7283 106.274 38.4646C106.274 38.4646 107.647 38.3834 107.609 38.1811C107.609 38.1396 107.324 37.6354 107.324 37.6354C107.324 37.6354 106.011 38.3071 105.027 37.866C105.027 37.866 106.681 37.9903 107.222 37.4447L106.76 36.7101C106.76 36.7101 105.407 37.4862 104.266 37.0285C104.266 37.0285 105.994 37.0981 106.649 36.5558L106.099 35.8925C106.099 35.8925 104.764 36.6255 103.817 36.2374C103.817 36.2374 105.822 36.1164 105.968 35.7499C105.968 35.7499 105.425 35.1744 105.207 35.0865C105.207 35.0865 104.238 35.584 103.708 35.3154C103.708 35.3154 105.032 35.0932 105.04 34.9456C105.04 34.9456 104.135 34.3834 103.525 34.3419C104.087 34.352 104.638 34.5098 105.121 34.7996C105.046 34.4606 104.873 34.1511 104.625 33.9091C104.625 33.9091 105.255 33.9804 105.341 34.9373C105.341 34.9373 106.031 35.4049 106.075 35.5343C106.075 35.5343 106.123 34.5774 105.847 34.0069C105.847 34.0069 106.456 34.4961 106.228 35.7034L106.795 36.3568C106.795 36.3568 106.924 35.0932 106.717 34.5674C106.717 34.5674 107.26 35.1628 106.926 36.5326L107.384 37.2474C107.384 37.2474 107.579 36.1678 107.475 35.5326C107.475 35.5326 107.859 36.196 107.508 37.458L107.759 37.9721C107.759 37.9721 107.887 37.181 107.903 36.9505C107.92 36.72 107.983 36.7051 107.983 36.7051C108.082 37.1998 108.043 37.7125 107.869 38.186C107.869 38.186 108.314 39.2806 108.386 39.259Z" fill="#B6B6B6"/>
                    <path opacity="0.5" d="M115.625 119.544C118.085 119.544 120.08 119.206 120.08 118.79C120.08 118.373 118.085 118.035 115.625 118.035C113.164 118.035 111.17 118.373 111.17 118.79C111.17 119.206 113.164 119.544 115.625 119.544Z" fill="#B6B6B6"/>
                    <path opacity="0.6" d="M99.3855 131C101.846 131 103.84 130.662 103.84 130.246C103.84 129.829 101.846 129.491 99.3855 129.491C96.9251 129.491 94.9307 129.829 94.9307 130.246C94.9307 130.662 96.9251 131 99.3855 131Z" fill="#B6B6B6"/>
                    <path opacity="0.1" d="M15.4074 125.131C17.8678 125.131 19.8623 124.793 19.8623 124.377C19.8623 123.96 17.8678 123.622 15.4074 123.622C12.9471 123.622 10.9526 123.96 10.9526 124.377C10.9526 124.793 12.9471 125.131 15.4074 125.131Z" fill="#B6B6B6"/>
                    <path opacity="0.4" d="M133.175 130.245C135.635 130.245 137.629 129.908 137.629 129.491C137.629 129.074 135.635 128.736 133.175 128.736C130.714 128.736 128.72 129.074 128.72 129.491C128.72 129.908 130.714 130.245 133.175 130.245Z" fill="#B6B6B6"/>
                    <path d="M137.813 121.044C141.486 121.044 144.464 120.54 144.464 119.917C144.464 119.294 141.486 118.789 137.813 118.789C134.139 118.789 131.161 119.294 131.161 119.917C131.161 120.54 134.139 121.044 137.813 121.044Z" fill="#B6B6B6"/>
                    <path d="M140.571 118.071C140.875 117.824 141.096 117.49 141.204 117.113C141.287 116.731 141.125 116.275 140.763 116.136C140.356 115.98 139.921 116.262 139.59 116.547C139.259 116.833 138.884 117.159 138.452 117.1C138.673 116.898 138.839 116.642 138.933 116.357C139.027 116.072 139.046 115.767 138.988 115.473C138.969 115.351 138.918 115.236 138.839 115.141C138.612 114.899 138.204 115.003 137.932 115.194C137.072 115.801 136.832 116.972 136.827 118.027C136.741 117.647 136.814 117.25 136.812 116.866C136.811 116.481 136.703 116.036 136.374 115.834C136.172 115.721 135.944 115.664 135.712 115.668C135.325 115.655 134.894 115.693 134.631 115.977C134.3 116.328 134.387 116.92 134.672 117.304C134.956 117.687 135.391 117.934 135.792 118.202C136.112 118.394 136.386 118.655 136.592 118.967C136.616 119.01 136.635 119.056 136.65 119.103H139.075C139.618 118.829 140.121 118.482 140.571 118.071Z" fill="#B6B6B6"/>
                    <path d="M12.4165 120.869C12.4165 120.869 14.9557 120.791 15.7249 120.244C16.4942 119.697 19.6339 119.045 19.8241 119.922C20.0143 120.8 23.642 124.282 20.7736 124.306C17.9052 124.329 14.1088 123.858 13.3445 123.39C12.5803 122.922 12.4165 120.869 12.4165 120.869Z" fill="#A8A8A8"/>
                    <path opacity="0.2" d="M20.8216 124C17.9532 124.023 14.1567 123.552 13.3925 123.084C12.8102 122.729 12.5786 121.454 12.5009 120.865H12.4165C12.4165 120.865 12.5819 122.92 13.3412 123.386C14.1005 123.852 17.9019 124.325 20.7703 124.301C21.5974 124.301 21.8836 124 21.8687 123.562C21.7529 123.829 21.437 123.995 20.8216 124Z" fill="black"/>
                    <defs>
                    <linearGradient id="paint0_linear" x1="36.8873" y1="71.8773" x2="88.5205" y2="71.8773" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#747474" stop-opacity="0.25"/>
                    <stop offset="0.54" stop-color="#808080" stop-opacity="0.12"/>
                    <stop offset="1" stop-color="#808080" stop-opacity="0.1"/>
                    </linearGradient>
                    </defs>
                    </svg>
                </div>
            </div>
        </div>
        <!-- Llenado de la Info -->
        <form action="" class="col-span-2 md:col-span-2 mx-1 md:mx-3 lg:m-5  felx-col  lg:mx-14 ">
            <!-- ruc -->
            <div class=" w-full md:mb-2">
                <label class="labelclass">RUC:</label>
                <input type="number" required placeholder="20145223651" class="w-full sm:mb-1 forms-control focus">
                <!-- <p class="text-xs italic text-red-700"> Por favor rellene este campo.</p> -->
            </div>

            <!-- Nombre de la empresa  -->
            <div class="bg-gray-800 text-white px-4 py-2 rounded relative" role="alert">
                <span class="block sm:inline text-sm">ASOCIACIÓN DISTRIBUIDORA LOS CAMELLOS S.A.C</span>
                <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                <svg class="fill-current h-5 w-5 text-white" role="button" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20">
                  <title>Close</title>
                  <path
                    d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
                </svg>
              </span>
            </div>

            <!-- Modalida de pago -->
            <div class="w-full md:mb-2">
                <label class="labelclass uppercase">Modalidad de pago:</label>
                <select type="text" name="tipouser" required placeholder="Seleccionar" class="w-full sm:mb-1 text-sm  forms-control focus">
                    <option value="01">Mensual</option>
                    <option value="02">Anual</option>
                </select>
                <p class="text-xs italic text-red-700 hidden"> Por favor rellene este campo.</p>
            </div>

            <!-- Importe fase Prueba -->
            <div class=" w-full md:mb-2">
                <label class="labelclass">Imp. por Fase de Prueba</label>
                <input type="number" required placeholder="S/. 500.00" class="w-full sm:mb-1 forms-control focus">
                <!-- <p class="text-xs italic text-red-700"> Por favor rellene este campo.</p> -->
            </div>

            <div class=" w-full md:mb-2">
                <label class="labelclass">Imp. por Emisión de Comprob.</label>
                <input type="text" required placeholder="S/. 59.00" class="w-full sm:mb-1 forms-control focus">
                <!-- <p class="text-xs italic text-red-700"> Por favor rellene este campo.</p> -->
            </div>

            <!-- Imp. por exedente.-->
            <div class=" w-full md:mb-2">
                <label class="labelclass">Importe por Exedente</label>
                <input type="text" required placeholder="s/.0.07" class="w-full sm:mb-1 forms-control focus">
                <!-- <p class="text-xs italic text-red-700"> Por favor rellene este campo.</p> -->
            </div>

            <div (click)="onShowHide()" [class.showingData]="mostarDatos === true" *ngIf="mostarDatos === false" class="cursor-pointer flex-col pt-2 ">
                <button class="bg-black hover:bg-gray-800 focus:outline-none  text-white py-2 px-6 rounded-3xl">Generar Cotización</button>
            </div>
            <div *ngIf="mostarDatos === true" class="  space-x-2 md:flex-col md:space-y-1 lg:flex-row  flex  items-center pt-2 ">
                <button class="bg-black hover:bg-gray-800 focus:outline-none text-white p-2 px-6  rounded-3xl">Guardar</button>
                <button class="bg-black hover:bg-gray-800 focus:outline-none  text-white p-2 px-6 rounded-3xl">
                  <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
                  </svg>
              </button>
                <button (click)="enviarcorreo()" class="bg-black hover:bg-gray-800 focus:outline-none  text-white p-2 px-6 rounded-3xl">
                  <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                  </svg>
              </button>
            </div>

        </form>
    </section>
</main>