<div class="grid grid-cols-2 md:grid-cols-7  p-3 lg:m-1  lg:p-2">
    <!-- Primera Sección -->
    <section class="col-span-2 md:col-span-3 lg:col-span-2 border border-gray-200 shadow-md rounded-md p-7">
        <!-- Compañia -->
        <div class="border-b-2 border-gray-200 flex flex-col justify-center   ">
            <div class="flex justify-center">
                <svg width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.4 9.66667V0H0V29H7.73333V23.2H9.66667V29H27.0667V9.66667H17.4ZM4.83333 25.1333H2.9V23.2H4.83333V25.1333ZM4.83333 20.3H2.9V18.3667H4.83333V20.3ZM4.83333 15.4667H2.9V13.5333H4.83333V15.4667ZM4.83333 10.6333H2.9V8.7H4.83333V10.6333ZM4.83333 5.8H2.9V3.86667H4.83333V5.8ZM12.5667 3.86667H14.5V5.8H12.5667V3.86667ZM9.66667 20.3H7.73333V18.3667H9.66667V20.3ZM9.66667 15.4667H7.73333V13.5333H9.66667V15.4667ZM9.66667 10.6333H7.73333V8.7H9.66667V10.6333ZM9.66667 5.8H7.73333V3.86667H9.66667V5.8ZM14.5 25.1333H12.5667V23.2H14.5V25.1333ZM14.5 20.3H12.5667V18.3667H14.5V20.3ZM14.5 15.4667H12.5667V13.5333H14.5V15.4667ZM14.5 10.6333H12.5667V8.7H14.5V10.6333ZM25.1333 27.0667H17.4V25.1333H19.3333V23.2H17.4V20.3H19.3333V18.3667H17.4V15.4667H19.3333V13.5333H17.4V11.6H25.1333V27.0667Z" fill="#2DA6FE"/>
                </svg>
            </div>
            <div class="flex justify-center text-gray-400 font-medium py-2">20164852771</div>
            <div class=" text-gray-900 font-medium pb-4 text-xs lg:text-sm flex flex-col justify-center">
                <div class="flex justify-center whitespace-nowrap ">NICACIO INGENIERIA Y CONSTRUCCIONES </div>
                <div class="flex justify-center">S.A.C </div>
            </div>
        </div>
        <!-- Info -->
        <div class="flex flex-col  pt-2  ">
            <!-- Sistema Aqdquirido -->
            <div class="flex flex-col md:flex-row md:justify-start justify-center items-center gap-4 md:gap-3 lg:gap-6  pt-3">
                <!-- image Pc -->
                <div class=" flex  justify-center items-center border border-gray-200 shadow-md w-10 h-10 rounded-full">
                    <svg clas="flex  justify-center" width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17 0H3C2.20435 0 1.44129 0.316071 0.87868 0.87868C0.316071 1.44129 0 2.20435 0 3V11C0 11.7956 0.316071 12.5587 0.87868 13.1213C1.44129 13.6839 2.20435 14 3 14H9V16H5C4.73478 16 4.48043 16.1054 4.29289 16.2929C4.10536 16.4804 4 16.7348 4 17C4 17.2652 4.10536 17.5196 4.29289 17.7071C4.48043 17.8946 4.73478 18 5 18H15C15.2652 18 15.5196 17.8946 15.7071 17.7071C15.8946 17.5196 16 17.2652 16 17C16 16.7348 15.8946 16.4804 15.7071 16.2929C15.5196 16.1054 15.2652 16 15 16H11V14H17C17.7956 14 18.5587 13.6839 19.1213 13.1213C19.6839 12.5587 20 11.7956 20 11V3C20 2.20435 19.6839 1.44129 19.1213 0.87868C18.5587 0.316071 17.7956 0 17 0ZM18 11C18 11.2652 17.8946 11.5196 17.7071 11.7071C17.5196 11.8946 17.2652 12 17 12H3C2.73478 12 2.48043 11.8946 2.29289 11.7071C2.10536 11.5196 2 11.2652 2 11V3C2 2.73478 2.10536 2.48043 2.29289 2.29289C2.48043 2.10536 2.73478 2 3 2H17C17.2652 2 17.5196 2.10536 17.7071 2.29289C17.8946 2.48043 18 2.73478 18 3V11Z" fill="#2DA6FE"/>
                    </svg>
                </div>
                <!-- Info -->
                <div class="space-y-2">
                    <div class="font-semibold text-gray-700">Sistema adquirido</div>
                    <ul class="list-disc space-x-0 text-sm  space-y-2 ">
                        <li class="text-gray-400 flex items-center gap-3 font-medium">FacTEDSOL [Lite]
                            <span>
                                    <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5 0C2.25 0 0 2.25 0 5C0 7.75 2.25 10 5 10C7.75 10 10 7.75 10 5C10 2.25 7.75 0 5 0ZM5 1.11111C5.86111 1.11111 6.66667 1.41667 7.33333 1.88889L1.88889 7.33333C1.41667 6.66667 1.11111 5.86111 1.11111 5C1.11111 2.86111 2.86111 1.11111 5 1.11111ZM5 8.88889C4.13889 8.88889 3.33333 8.58333 2.66667 8.11111L8.11111 2.66667C8.58333 3.33333 8.88889 4.13889 8.88889 5C8.88889 7.13889 7.13889 8.88889 5 8.88889Z" fill="#ED2E2E"/>
                                    </svg>
                                </span>
                        </li>
                        <li class="text-gray-400 flex items-center gap-3 font-medium">FactuTED [Comercio]
                            <span>
                                    <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5 0C2.25 0 0 2.25 0 5C0 7.75 2.25 10 5 10C7.75 10 10 7.75 10 5C10 2.25 7.75 0 5 0ZM5 1.11111C5.86111 1.11111 6.66667 1.41667 7.33333 1.88889L1.88889 7.33333C1.41667 6.66667 1.11111 5.86111 1.11111 5C1.11111 2.86111 2.86111 1.11111 5 1.11111ZM5 8.88889C4.13889 8.88889 3.33333 8.58333 2.66667 8.11111L8.11111 2.66667C8.58333 3.33333 8.88889 4.13889 8.88889 5C8.88889 7.13889 7.13889 8.88889 5 8.88889Z" fill="#ED2E2E"/>
                                    </svg>
                                </span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Persona Registrada -->
            <div class="flex flex-col md:flex-row md:justify-start justify-center items-center gap-4 md:gap-3 lg:gap-6 pt-6 ">
                <div class=" flex justify-center items-center border border-gray-200 shadow-md w-10 h-10 rounded-full">
                    <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.99998 10.1425C11.5292 10.1425 13.5796 8.09589 13.5796 5.57126C13.5796 3.04662 11.5292 1 8.99998 1C6.47076 1 4.42041 3.04662 4.42041 5.57126C4.42041 8.09589 6.47076 10.1425 8.99998 10.1425Z" stroke="#2DA6FE" stroke-width="2"/>
                            <path d="M13.5796 11.9712H13.902C14.5716 11.9714 15.2181 12.2156 15.72 12.6581C16.2219 13.1005 16.5447 13.7106 16.6277 14.3738L16.9859 17.23C17.0181 17.4873 16.9951 17.7485 16.9184 17.9962C16.8418 18.244 16.7132 18.4726 16.5413 18.667C16.3694 18.8614 16.158 19.017 15.9212 19.1236C15.6844 19.2302 15.4275 19.2853 15.1678 19.2852H2.83223C2.57246 19.2853 2.31565 19.2302 2.07884 19.1236C1.84203 19.017 1.63064 18.8614 1.4587 18.667C1.28676 18.4726 1.1582 18.244 1.08155 17.9962C1.00491 17.7485 0.981926 17.4873 1.01414 17.23L1.37134 14.3738C1.45441 13.7103 1.77748 13.0999 2.27978 12.6574C2.78208 12.215 3.42902 11.9709 4.09894 11.9712H4.42043" stroke="#2DA6FE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                </div>
                <div>
                    <div class="font-semibold justify-center">Persona Regitrada</div>
                    <div class="text-gray-400 text-sm font-medium justify-center">Juan Davila Rodriguez</div>
                </div>
            </div>
            <!-- Celular -->
            <div class="flex flex-col md:flex-row md:justify-start justify-center items-center gap-4 md:gap-3 lg:gap-6 pt-6 ">
                <div class=" flex justify-center  items-center border border-gray-200 shadow-md w-10 h-10 rounded-full">
                    <svg width="14" height="22" viewBox="0 0 14 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.3077 0H2.69231C1.97826 0 1.29346 0.263392 0.788559 0.732233C0.283653 1.20107 0 1.83696 0 2.5V19.5C0 20.163 0.283653 20.7989 0.788559 21.2678C1.29346 21.7366 1.97826 22 2.69231 22H11.3077C12.0217 22 12.7065 21.7366 13.2114 21.2678C13.7163 20.7989 14 20.163 14 19.5V2.5C14 1.83696 13.7163 1.20107 13.2114 0.732233C12.7065 0.263392 12.0217 0 11.3077 0ZM7 21C6.10615 21 5.38462 20.33 5.38462 19.5C5.38462 18.67 6.10615 18 7 18C7.89385 18 8.61539 18.67 8.61539 19.5C8.61539 20.33 7.89385 21 7 21ZM11.8462 17H2.15385V3H11.8462V17Z" fill="#2DA6FE"/>
                    </svg>
                </div>
                <div>
                    <div class="font-semibold justify-center md:justify-start flex">Celular</div>
                    <div class="text-gray-400 text-sm font-medium justify-center flex">985 214 158</div>
                </div>
            </div>
            <!-- Correo -->
            <div class="flex flex-col md:flex-row md:justify-start justify-center items-center gap-4 md:gap-3 lg:gap-6 pt-6 ">
                <div class=" flex justify-center  items-center border border-gray-200 shadow-md w-10 h-10 rounded-full">
                    <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18 1.875C18 0.84375 17.19 0 16.2 0H1.8C0.81 0 0 0.84375 0 1.875V13.125C0 14.1562 0.81 15 1.8 15H16.2C17.19 15 18 14.1562 18 13.125V1.875ZM16.2 1.875L9 6.5625L1.8 1.875H16.2ZM16.2 13.125H1.8V3.75L9 8.4375L16.2 3.75V13.125Z" fill="#2DA6FE"/>
                    </svg>
                </div>
                <div>
                    <div class="font-semibold justify-center md:justify-start flex">Correo</div>
                    <div class="text-gray-400 text-sm font-medium justify-center flex">juandavila14@gmail.com</div>
                </div>
            </div>
            <!-- botton -->
            <div class="flex justify-center ">
                <button class="bg-yellow-600  hover:bg-yellow-700 focus:outline-none text-sm  mt-8 px-16  py-3 rounded-md  flex justify-center items-center text-white font-semibold">
                    Activar Servicio
                </button>
            </div>

        </div>
    </section>

    <section class="col-span-2 md:col-span-4 lg:col-span-5">

    </section>
</div>