<header class="flex justify-center items-center bg-gray-800 text-white font-bold md:text-4xl text-xs">PROTOTIPOS DE PAGINAS</header>

<section class="flex justify-center items-center">
    <div class="pt-3"><img class=" " src="assets/img/img2.png" alt=""></div>
</section>